@model doorserve.Models.LandingPageModel
@{
                /**/

                Layout = null;
                ViewBag.Title = "LandingPageSearch";
}
@using (Html.BeginForm("LandingPageSearch", "Reports", FormMethod.Post))
{    
        <div class="col-md-12 col-sm-12 col-lg-12">

            <div class="row" style="padding-bottom: 5px;">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.FromDate, htmlAttributes: new { @class = "col-md-4 col-xs-12" })
                    <div class="col-md-6 col-sm-2 col-xs-12">
                        @Html.TextBoxFor(model => model.FromDate, htmlAttributes: new { @class = "form-control", id = "LandingFromDate", autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(model => model.ToDate, htmlAttributes: new { @class = "col-md-4 col-xs-12" })
                    <div class="col-md-6 col-sm-2 col-xs-12">
                        @Html.TextBoxFor(model => model.ToDate, htmlAttributes: new { @class = "form-control", id = "LandingToDate", autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary btn-lg text-center" id="btnSubmit">Search</button>
                </div>
            </div>                   
        </div>
}


