
@{
    ViewBag.Title = "ColorMaster";
}


@*<div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Color Master<small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    @Html.Action("AddColorMaster")
                </div>
            </div>
        </div>
    </div>*@



<div class="panel-heading">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-md-6">
                <h3 class="m-y-0">Color Master</h3>
            </div>
        </div>
    </div>
</div>

<div class="panel-body">
    @Html.Action("AddColorMaster")
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>List Of Color Master<small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content" style="overflow-x: scroll;">
                    @Html.Action("ColorTable", "Master")
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="modal fade" id="Editmodel" tabindex="-1" role="dialog">
        <div class="modal-dialog model-lg" style="width:1000px">

            Modal content
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Color Master</h4>
                </div>

                <div class="modal-body" id="Info">@Html.Partial("EditColorMaster")</div>
            </div>

        </div>
    </div>


    @if (ViewBag.Message != null)
    {
        <div id="snackbar">@ViewBag.Message</div>

    }
    @if (ViewBag.Message != null)
    {
        <div id="snackbar">@ViewBag.Message</div>
    }
    @if (ViewBag.Message != null || ViewBag.Message != null)
    {
        <script>

            var x = document.getElementById("snackbar");
            x.className = "show";
            setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);

        </script>
    }

    <script>
        function EditColor(ColorId) {
            debugger;
            $.ajax({
                type: 'GET',
                url: "/Master/EditColorMaster?ColorId=" + ColorId,
                contentType: 'application/json; charset=utf-8',
                cache: false,
                success: function (response) {
                    $("#Info").html(response);
                    $('.selectpicker').selectpicker();
                    var previous_value;
                    $(".selectpicker").on('shown.bs.select', function (e) {
                        previous_value = $(this).val();
                    }).change(function () {

                        previous_value = $(this).val();
                    });


                    $(".bootstrap-select").click(function () {
                        $(this).addClass("open");

                        //$('#CountryList').attr('data-live-search', true);
                    });
                    $(document).click(function () {
                        $(".bootstrap-select").removeClass("open");
                        $('.selectpicker').attr("data-live-search", true);
                    });
                    $(".bootstrap-select").click(function (e) {
                        e.stopPropagation();
                    });

                },
                error: function (e) {
                    console.log(e);
                    $(".submitbutton").attr("disabled", false);
                    alert("Something went wrong...");

                },
                complete: function () {

                    $(".submitbutton").attr("disabled", false);
                }
            });
        }
        function AjaxWithValue(method, ddl, e) {

            var val1 = $(e).val();

            $.ajax({
                type: "GET",
                url: "/DropdownBind/" + method + "?value=" + val1,
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $("#" + ddl).empty();

                    //var sel = new Option('-Select-', '');
                    //$('#' + ddl).append(sel);
                    for (var i = 0; i < data.length; i++) {
                        var opt = new Option(data[i].Text, data[i].Value);
                        //$('#' + ddl).append(opt);
                        $('#' + ddl).append(opt);
                    }

                }
            });
            $('.selectpicker').selectpicker('refresh');
        }
    </script>
