@model IEnumerable<TogoFogo.Models.Prob_Vs_price_matrix>
@using TogoFogo.Models
@{
    Layout = null;
    int Count = 1;
}
<div class="panel panel-default panel-table">
    <div class="panel-heading">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-md-6">
                    <h3 class="m-y-0">List Of Spare Problem V/s Price Matrix</h3>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered table-condensed" id="myTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Serial No")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Problem)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Market_Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.estimated_Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Min_Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Max_Price)
                </th>
                <th>
                    @Html.DisplayName("Created By")
                </th>
                <th>
                    @Html.DisplayName("Created Date")
                </th>
                <th>
                    @Html.DisplayName("Modify By")
                </th>
                <th>
                    @Html.DisplayName("Modify Date")
                </th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.SerialNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Problem)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Market_Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.estimated_Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Min_Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Max_Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifyDate)
                    </td>
                    <td style="display: inline-flex">
                        @*<a href="#Historymodel" data-toggle="modal" class="btn btn-small btn-success btnSize ">History</a>*@
                        @if (Permissions.Rights.Edit)
                        {
                            <a href="#Editmodel" data-toggle="modal" class="btn btn-small btn-info btnSize " onclick="WebsitePriceProb('@item.Model_Id','@item.Problem_Id')">Edit</a>
                        }
                        @* @if (Model._UserActionRights.Delete)
                            {
                                <input type="button" value="Delete" class="btn btn-small btn-danger btnSize" />
                            }*@
                    </td>
                </tr>
                Count++;
            }
        </tbody>


    </table>
</div>
