@model doorserve.Models.ManageServiceProviderModel
@{
    Layout = null;
}
<div class="panel panel-default panel-table">
    <div class="panel-heading">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-md-6">
                    <h3 class="m-y-0">List Of All Service Provider</h3>
                </div>
                <div class="col-md-6 ">
                    <div class="pull-right">
                        @if (Model._UserActionRights.ExcelExport)
                        {
                            <button class="btn btn-primary excel">Export to Excel</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered table-condensed" id="myTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Serial No")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProcessName)
                </th>


                <th>
                    @Html.DisplayNameFor(model => model.ProviderName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrganisationName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AddressType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Country)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.St_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LocationName)
                </th>

                <th>
                    @Html.DisplayName("Name")
                </th>
                <th>
                    @Html.DisplayName("Is Active")
                </th>
                <th>
                    @Html.DisplayName("Created By")
                </th>
                <th>
                    @Html.DisplayName("Modify By")
                </th>
                <th>
                    @Html.DisplayName("Created Date")
                </th>
                <th>
                    @Html.DisplayName("Modify Date")
                </th>
                <th>Action</th>
            </tr>
        </thead>
        @foreach (var item in Model.ManageServiceProviderModelList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SerialNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProcessName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProviderName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrganisationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.St_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationName)
                </td>
                <td>
                    @(item.FirstName + " " + item.LastName)

                </td>
                <td>
                    @(item.IsActive == true ? "Active" : "InActive")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifyBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifyDate)
                </td>
                <td style="display: inline-flex">
                    @* @Url.Action("#Editmodel", new { id = item.BrandId })*@
                    @*<a href="#Historymodel" data-toggle="modal" class="btn btn-small btn-success btnSize ">History</a>*@
                    @if (Model._UserActionRights.Edit)
                    {
                        <a href="#Editmodel" data-toggle="modal" class="btn btn-small btn-info btnSize " onclick="EditServiceProvider(@item.ProviderId)">Edit</a>
                    }
                    @* @if (Model._UserActionRights.Delete)
        {
            <input type="button" value="Delete" class="btn btn-small btn-danger btnSize" />
        }*@
                </td>
                </tr>
            }

        </table>

        </div>
