@model TogoFogo.Models.ProcessModel


<div class="row" style="padding-bottom: 5px;">
    @Html.LabelFor(model => model.ProcessName, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.ProcessName, new { @class = "form-control", @cols = 42, @rows = 2 })

    </div>
</div>
<div class="row" style="padding-bottom: 5px;">
    @Html.LabelFor(model => model.ProcessOwner, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.ProcessOwner, new { @class = "form-control", @cols = 42, @rows = 2 })

    </div>
</div>
<div class="row" style="padding-bottom: 5px;">
    @Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextAreaFor(model => model.Remark, new { @class = "form-control", @cols = 42, @rows = 2 })

    </div>
</div>
<div class="row" style="padding-bottom: 5px;">
    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.CheckBoxFor(model => model.IsActive, new { @checked = "checked" })

    </div>
</div>
