@using System.Web.UI.WebControls
@model doorserve.Models.BrandModel
@{
    /**/

    Layout = null;
}
@using (Html.BeginForm("AddBrand", "Master", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @*@Html.ValidationSummary(false, "", new { @class = "text-danger" })*@
    @Html.HiddenFor(model => model.BrandId)
    <div class="col-md-8 col-sm-8 col-lg-8">
        <div class="row" style="padding-bottom: 5px;">
            @Html.LabelFor(model => model.BrandName, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.BrandName, htmlAttributes: new { @class = "form-control", placeholder = "Enter Brand Name" })
                @Html.ValidationMessageFor(model => model.BrandName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row" style="padding-bottom: 5px;">
            <div class="col-md-3 col-md-offset-1 col-xs-12">

                @Html.LabelFor(model => model.BrandDescription, htmlAttributes: new { @class = "" })
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">

                @Html.TextAreaFor(model => model.BrandDescription, htmlAttributes: new { @class = "form-control", @cols = "42", @rows = "2" })
            </div>
        </div>
        <div class="row" style="padding-bottom: 5px;">
            <div class="col-md-3 col-md-offset-1 col-xs-12">

                @Html.LabelFor(model => model.MetaKeyword, htmlAttributes: new { @class = "" })
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">

                @Html.TextAreaFor(model => model.MetaKeyword, htmlAttributes: new { @class = "form-control", @cols = "42", @rows = "2" })
            </div>
        </div>
        <div class="row" style="padding-bottom: 5px;">
            <div class="col-md-3 col-md-offset-1 col-xs-12">

                @Html.LabelFor(model => model.MetaDescription, htmlAttributes: new { @class = "" })
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">

                @Html.TextAreaFor(model => model.MetaDescription, htmlAttributes: new { @class = "form-control", @cols = "42", @rows = "2" })
            </div>
        </div>
        <div class="row" style="padding-bottom: 5px;">
            <div class="col-md-3 col-md-offset-1 col-xs-12">

                @Html.LabelFor(model => model.MetaTitle, htmlAttributes: new { @class = "" })
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">

                @Html.TextBoxFor(model => model.MetaTitle, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="row" style="padding-bottom: 5px;">
            <div class="col-md-3 col-md-offset-1 col-xs-12">

                @Html.LabelFor(model => model.UrlName, htmlAttributes: new { @class = "" })
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">

                @Html.TextBoxFor(model => model.UrlName, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="row" style="padding-bottom: 5px;">
            <div class="col-md-3 col-md-offset-1 col-xs-12">

                @Html.LabelFor(model => model.Header, htmlAttributes: new { @class = "" })
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">

                @Html.TextBoxFor(model => model.Header, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="row" style="padding-bottom: 5px;">
            <div class="col-md-3 col-md-offset-1 col-xs-12">

                @Html.LabelFor(model => model.Footer, htmlAttributes: new { @class = "" })
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">

                @Html.TextBoxFor(model => model.Footer, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="row" style="padding-bottom: 5px;">
            <div class="col-md-3 col-md-offset-1 col-xs-12">

                @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "" })
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">

                @Html.TextAreaFor(model => model.Comments, htmlAttributes: new { @class = "form-control", @cols = "42", @rows = "2" })
            </div>
        </div>
        <div class="row" style="padding-bottom: 5px;">
            <div class="col-md-3 col-md-offset-1 col-xs-12">

                @Html.LabelFor(model => model.BrandImage, htmlAttributes: new { @class = "" })
            </div>
            <div class="col-md-5 col-sm-5 col-xs-12">

                @Html.TextBoxFor(model => model.BrandIMG, htmlAttributes: new { @type = "file", accept = "image/*", @class = "form-control", @onchange = "readURL(this);" })

            </div>
            <div class="col-md-3" id="Removeimg">
                <img id="blah"  src="~/Images/male-user-add.png" width="50" height="50" alt="your image" />
            </div>
        </div>
        <div class="row" style="padding-bottom: 5px;">
            <div class="col-md-3 col-md-offset-1 col-xs-12">

                @Html.LabelFor(model => model.IsRepair, htmlAttributes: new { @class = "" })
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.CheckBoxFor(model => model.IsRepair)
            </div>
        </div>
        <div class="row" style="padding-bottom: 5px;">
            <div class="col-md-3 col-md-offset-1 col-xs-12">

                @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "" })
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">

                @Html.CheckBoxFor(model => model.IsActive, new { @checked = "checked" })
            </div>
        </div>
        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-4">
                @*<button class="btn btn-primary" type="button">Cancel</button>*@
                <button class="btn btn-primary" type="reset" id="ResetImage">Reset</button>
                <button type="submit" class="btn btn-success" id="btnNotify">Submit</button>
            </div>
        </div>
    </div>


}



    

