@model doorserve.Models.Prob_Vs_price_matrix

@using (Html.BeginForm("AddWebsiteData", "Master", FormMethod.Post))
{

<div class="col-md-6 col-sm-6 col-lg-6">    
    <div class="row" style="padding-bottom: 5px;">
            <div class="col-md-3 col-md-offset-1 col-xs-12">
                @Html.LabelFor(model => model.BrandName, htmlAttributes: new { @class = "" })
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                @Html.DropDownListFor(model => model.BrandName, Model.BrandList,  new { @class = "form-control", onchange = "AjaxWithValue('BindModelNameJson', 'Model_Id', this)" })
                @Html.ValidationMessageFor(model => model.BrandName, "", new { @class = "text-danger" })
            </div>
        </div>
    <div class="row" style="padding-bottom: 5px;">
        <div class="col-md-3 col-md-offset-1 col-xs-12">
            @Html.LabelFor(model => model.Model_Id, htmlAttributes: new { @class = "" })
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">

            @Html.DropDownListFor(model => model.Model_Id, Model.ModelList, "Select", htmlAttributes: new { @class = "form-control", placeholder = "" })
            @Html.ValidationMessageFor(model => model.Model_Id, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row" style="padding-bottom: 5px;">
        <div class="col-md-3 col-md-offset-1 col-xs-12">
            @Html.LabelFor(model => model.Problem, htmlAttributes: new { @class = "" })
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            @Html.DropDownListFor(model => model.Problem, Model.ProblemList, "Select", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Problem, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row" style="padding-bottom: 5px;">
        <div class="col-md-3 col-md-offset-1 col-xs-12">
            @Html.LabelFor(model => model.Market_Price, htmlAttributes: new { @class = "" })

        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            @Html.TextBoxFor(model => model.Market_Price, null, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Market_Price, "", new { @class = "text-danger" })
        </div>
    </div>

</div>
    <div class="col-md-6 col-sm-6 col-lg-6">
        <div class="row" style="padding-bottom: 5px;">
            <div class="col-md-3 col-md-offset-1 col-xs-12">
                @Html.LabelFor(model => model.estimated_Price, htmlAttributes: new { @class = "" })

            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                @Html.TextBoxFor(model => model.estimated_Price, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.estimated_Price, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row" style="padding-bottom: 5px;">
            <div class="col-md-3 col-md-offset-1 col-xs-12">
                @Html.LabelFor(model => model.Min_Price, htmlAttributes: new { @class = "" })
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                @Html.TextBoxFor(model => model.Min_Price, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Min_Price, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row" style="padding-bottom: 5px;">
            <div class="col-md-3 col-md-offset-1 col-xs-12">
                @Html.LabelFor(model => model.Max_Price, htmlAttributes: new { @class = "" })
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                @Html.TextBoxFor(model => model.Max_Price, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Max_Price, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="ln_solid"></div>
        <div class="row">
            
            <div class="col-md-11 col-sm-11 col-xs-12">
                <button type="submit" class="btn btn-success pull-right " id="btnNotify">Submit</button>
            </div>
           
        </div>
    </div>
}


