@model IEnumerable<doorserve.Models.ProductModel>
@{
    Layout = null;
}
<div class="row" style="overflow-x: scroll">
    <table class="table table-striped table-bordered table-condensed" id="myTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pro_Color)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Alt_ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductImage)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.BrandName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MRP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Market_Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TUPC)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Is_repair)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Is_Active)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comments)
                </th>

                <th>Action</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pro_Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Alt_ProductName)
                </td>
                <td>
                    @if (item.ProductImage != null)
                    {
                        <img src="~/UploadedImages/@item.ProductImage" width="50" height="50" />
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.ProductImage)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BrandName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MRP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Market_Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TUPC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Is_repair)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Is_Active)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>

                <td style="display: inline-flex;">
                    @* @Url.Action("#Editmodel", new { id = item.BrandId })*@
                    <a href="#Editmodel" data-toggle="modal" class="btn btn-info btnSize " onclick="EditProduct(@item.ProductId, @item.Brand_ID, '@item.ProductName','@item.Category_ID')">Edit</a>
                    <a href="#Historymodel" data-toggle="modal" class="btn btn-success btnSize ">History</a>
                    <input type="button" value="Delete" class="btn btn-danger btnSize " />
                </td>
            </tr>
        }

    </table>
</div>
