
@model doorserve.Models.Prob_Vs_price_matrix
@{
    Layout = null;
}
@using (Html.BeginForm("EditWebsiteData", "Master", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Model_Id);
    @Html.HiddenFor(m => m.Problem);

<div class="form-group">
    <div class="row">
        <div class="col-md-12">
            @Html.LabelFor(model => model.BrandName, htmlAttributes: new { @class = "control-label" })
            <div class="input-group">
                <span class="input-group-addon"></span>
                @Html.DropDownListFor(model => model.BrandName, null, new { @class = "form-control", disabled = "disabled", onchange = "AjaxWithValue('BindModelNameJson', 'editModel_Id', this)" })
            </div>
            @Html.ValidationMessageFor(model => model.BrandName, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-md-12">
            @Html.LabelFor(model => model.Model_Id, htmlAttributes: new { @class = "control-label" })
            <div class="input-group">
                <span class="input-group-addon"></span>
                @Html.DropDownListFor(model => model.Model_Id, null, htmlAttributes: new { @class = "form-control", placeholder = "", id = "editModel_Id", disabled = "disabled" })
            </div>
            @Html.ValidationMessageFor(model => model.Model_Id, "", new { @class = "text-danger" })
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row">
        <div class="col-md-12">
            @Html.LabelFor(model => model.Problem, htmlAttributes: new { @class = "control-label" })
            <div class="input-group">
                <span class="input-group-addon"></span>
                @Html.DropDownListFor(model => model.Problem, null, new { @class = "form-control", disabled = "disabled" })
            </div>
            @Html.ValidationMessageFor(model => model.Problem, "", new { @class = "text-danger" })
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row">
        <div class="col-md-12">
            @Html.LabelFor(model => model.Market_Price, htmlAttributes: new { @class = "control-label" })
            <div class="input-group">
                <span class="input-group-addon"></span>
                @Html.TextBoxFor(model => model.Market_Price, null, new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(model => model.Market_Price, "", new { @class = "text-danger" })
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row">
        <div class="col-md-12">
            @Html.LabelFor(model => model.estimated_Price, htmlAttributes: new { @class = "control-label" })
            <div class="input-group">
                <span class="input-group-addon"></span>
                @Html.TextBoxFor(model => model.estimated_Price, null, new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(model => model.estimated_Price, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-md-12">
            @Html.LabelFor(model => model.Min_Price, htmlAttributes: new { @class = "control-label" })
            <div class="input-group">
                <span class="input-group-addon"></span>
                @Html.TextBoxFor(model => model.Min_Price, null, new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(model => model.Min_Price, "", new { @class = "text-danger" })
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row">
        <div class="col-md-12">
            @Html.LabelFor(model => model.Max_Price, htmlAttributes: new { @class = "control-label" })
            <div class="input-group">
                <span class="input-group-addon"></span>
                @Html.TextBoxFor(model => model.Max_Price, null, new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(model => model.Max_Price, "", new { @class = "text-danger" })
        </div>
    </div>
</div>

        <div class="row ">
            <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </div>
        }
        @Scripts.Render("~/bundles/jqueryval")


