@model TogoFogo.Models.MenuesModel
@using System.Web.UI.WebControls
@using TogoFogo.Models
@{
                /**/

                ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@section Styles{
    @Styles.Render("~/Content/plugintree")
}
<div class="panel-heading">
    <h3 class="m-y-0">Manage Menu</h3>
</div>
<div class="panel-body">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a href="#" class="tools-icon">
                            <i class="zmdi zmdi-refresh"></i>
                        </a>
                        <a href="#" class="tools-icon">
                            <i class="zmdi zmdi-close"></i>
                        </a>
                    </div>
                    <h3 class="panel-title">Menu List</h3>
                    <div class="panel-subtitle"></div>

                </div>
              
                <div class="panel-body" id="Info" style="border:0px solid red">
                 
                    <div id="jstree">
                        @(Html.TreeView(Model.Menues)
                                                                          .EmptyContent("Menues List")                                                                          .Children(m => m.SubMenuList)
                                                                          .HtmlAttributes(new { id = "tree" })
                                                                          .ChildrenHtmlAttributes(new { @class = "subItem" })
                                                                          .ItemText(m => m.Menu_Name)
                                                                          .ItemTemplate(
                                                        @<text>
                                                            <a href="#" >
                                                                @Html.HiddenFor(x=>item.MenuCapId)
                                                                @if (!string.IsNullOrEmpty(item.IconFileName))
                                                                {
                                                                <span class="menu-icon">
                                                                    <img src="@item.IconFileNameUl" />
                                                                </span>
                                                                }
                                                                <span class="menu-text">@item.CapName</span>
                                                            </a>                                                           
                                                        </text>)
                        )
                    </div>
                </div>
            </div>


        </div>


        <div class="col-md-6">
            <div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a href="#" class="tools-icon">
                            <i class="zmdi zmdi-refresh"></i>
                        </a>
                        <a href="#" class="tools-icon">
                            <i class="zmdi zmdi-close"></i>
                        </a>
                    </div>
                    <h3 class="panel-title">Menu Create / Update</h3>
                    <div class="panel-subtitle"></div>


                </div>
                <div class="panel-body" style="border:0px solid red">
                    <div class="row">
                        <div class="col-md-12" id="menulist" style="display:none">
                            @Html.Partial("_CreateOrEditForm",Model.menu)

                        </div>

                    </div>




                </div>



            </div><!--panel-body-->


        </div>
    </div>
    </div>



    @section scripts{
        @Scripts.Render("~/bundles/appjs")
        @Scripts.Render("~/bundles/jqueryval")

            <script>

                $(function () {
                    $('#jstree').jstree({
                    "core": {
                        "check_callback": true,
                        "responsive": false,
                        "stripes": true
                        },
                            "plugins": ["dnd", "state", "search", "types", "contextmenu", "unique"],
                            contextmenu: {
                                items: function ($node) {
                                    var currentNode = $node.text;
                                    var selectedNode = $($.parseHTML(currentNode)).filter("input").val();                                 
                                    if ($node.parents.length < 2) {
                                        return {
                                            createItem: {
                                                "label": "Create New Menu",
                                                "action": function (obj) {                                                  
                                                    $("#menulist").show();
                                                    $("#Menu_Name").val(null);
                                                    $("#MenuCapId").val(null);
                                                    $("#CapName").val(null);
                                                    $("#PagePath").val(null);
                                                    $("#shortOrder").val(null);
                                                    $("#IsActive").prop("checked", false);
                                                    $("#ParentMenuId").val(selectedNode);                                               
                                                },
                                                "_class": "class"
                                            }
                                        }
                                    }
                                    return {

                                        createItem: {
                                            "label": "Create New Menu",
                                            "action": function (obj) {
                                                $("#menulist").show();
                                                $("#menulist").show();
                                                $("#Menu_Name").val(null);
                                                $("#MenuCapId").val(null);
                                                $("#CapName").val(null);
                                                $("#PagePath").val(null);
                                                $("#shortOrder").val(null);
                                                $("#IsActive").prop("checked", false);
                                                $("#ParentMenuId").val(selectedNode);
                                            },
                                            "_class": "class"
                                        },
                                        renameItem: {
                                            "label": "Edit Menu",
                                            "action": function (obj) {
                                               getMenu(selectedNode);
                                
                              

                                            }
                                        },
                                        deleteItem: {
                                            "label": "Remove Menu",
                                            "action": function (obj) { this.remove(obj); }
                                        }
                                    };
                                }
                            }
                        })         
               
                });


                function getMenu(menuCapId) {
                    debugger
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("GetMenu", "Menu")',
                        data: {"menuCapId": menuCapId},
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: successFunc,
                        error: errorFunc
                    });
                    function successFunc(data, status) {
                        $("#checkList> div").each(function (res, item) {

                            var val = $("#ServiceTypeList_" + res + "__Value").val();
                            console.log(val);
                            if (data.ServiceTypeIds.indexOf(val) != -1) {
                                $("#ServiceTypeList_" + res + "__IsChecked").prop("checked", true);
                            }
                            else
                                $("#ServiceTypeList_" + res + "__IsChecked").prop("checked", false);
                 
                        }
                        )
                        $("#IconFileName").val(data.IconFileName);
                        $("#menulist").show();
                        $("#Menu_Name").val(data.Menu_Name);
                        $("#MenuCapId").val(data.MenuCapId);
                        $("#ParentMenuId").val(data.ParentMenuId);
                        $("#CapName").val(data.CapName);
                        $("#PagePath").val(data.PagePath);
                        $("#shortOrder").val(data.shortOrder);
                        $("#IsActive").prop("checked", data.IsActive);

                  
                    }
                    function errorFunc() {
                        alert('error');           
                    }
                
                }
        </script>


    }
