@model TogoFogo.Models.SMTPGatewayModel

@Html.HiddenFor(x => x.GatewayId)
@Html.HiddenFor(x => x.GatewayTypeId)

<div class="row">
    <div class="col-md-6 form-group">
        <label class=" control-label" for="form-control-9">Gateway Name</label>
        <div class="form-group">

            @Html.TextBoxFor(model => model.GatewayName, new { @class = "form-control input-md", @placeholder = "Gateway Name" })
            @Html.ValidationMessageFor(model => model.GatewayName, "", new { @class = "text-danger" })
        </div>

    </div>
    <div class="col-md-6 form-group">
        <label class=" control-label" for="form-control-9">Form Name</label>
        <div class="form-group">

            @Html.TextBoxFor(model => model.Name, new { @class = "form-control input-md", @placeholder = "Form Name" })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
</div>



<div class="row">
    <div class="col-md-6 form-group">
        <label class=" control-label" for="form-control-9">From Email</label>
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control input-md", @placeholder = "Form Email" })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    </div>

    <div class="col-md-6 form-group">
        <label class=" control-label" for="form-control-9">Smtp Server Name</label>

        @Html.TextBoxFor(model => model.SmtpServerName, new { @class = "form-control input-md", @placeholder = "Smtp Server Name" })
        @Html.ValidationMessageFor(model => model.SmtpServerName, "", new { @class = "text-danger" })
    </div>
</div>


<div class="row">
    <div class="col-md-6 form-group">
        <label class=" control-label" for="form-control-9">Smtp User Name</label>

        @Html.TextBoxFor(model => model.SmtpUserName, new { @class = "form-control input-md", @placeholder = "Smtp User Name " })
        @Html.ValidationMessageFor(model => model.SmtpUserName, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-6 form-group">
        <label class=" control-label" for="form-control-9">Smtp Password</label>
        @Html.TextBoxFor(model => model.SmtpPassword, new { @class = "form-control input-md", @placeholder = "Smtp Password " })
        @Html.ValidationMessageFor(model => model.SmtpPassword, "", new { @class = "text-danger" })
    </div>

</div>





<div class="row">
    <div class="col-md-6 form-group">
        <label class=" control-label" for="form-control-9">Port Number</label>
        @Html.TextBoxFor(model => model.PortNumber, new { @class = "form-control input-md", @placeholder = "Port Number " })
        @Html.ValidationMessageFor(model => model.PortNumber, "", new { @class = "text-danger" })
    </div>

    <div class="col-md-6 form-group">
        <label class=" control-label" for="form-control-9">SSL Enabled</label>
        <div class="form-group">
            <label class="custom-control custom-control-primary custom-checkbox active">
                @Html.CheckBoxFor(x => x.SSLEnabled, new { @class = "custom-control-input" })
                <span class="custom-control-indicator"></span>
            </label>
        </div>
    </div>

</div>


<div class="row">
    <div class="col-md-6 form-group">
        <label class=" control-label" for="form-control-9">Is Active</label>
        <div class="form-group">
            <label class="custom-control custom-control-primary custom-checkbox active">
                @Html.CheckBoxFor(x => x.IsActive, new { @class = "custom-control-input" })
                <span class="custom-control-indicator"></span>
            </label>
        </div>
    </div>


    <div class="col-md-6 form-group">
        <label class=" control-label" for="form-control-9">IsDefault</label>
        <div class="form-group">
            <label class="custom-control custom-control-primary custom-checkbox active">
                @Html.CheckBoxFor(x => x.IsDefault, new { @class = "custom-control-input" })
                <span class="custom-control-indicator"></span>
            </label>
        </div>
    </div>

</div>



<div class="row">
    <div class="col-md-6 form-group">
        <label class=" control-label" for="form-control-9">IsProcessByAwsSes</label>
        <div class="form-group">
            <label class="custom-control custom-control-primary custom-checkbox active">
                @Html.CheckBoxFor(x => x.IsProcessByAWS, new { @class = "custom-control-input" })

                <span class="custom-control-indicator"></span>
            </label>
        </div>
    </div>



</div>