@model IEnumerable<TogoFogo.Models.SMTPGatewayModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    var count = 1;
}

<div class="panel-heading">

    <div class="row">

        <div class="col-md-6">
            <h3 class="m-t-0 m-b-5">Smtp Gateway</h3>
        </div>

        <div class="col-md-6  add-tem-btn-mar-top">
            <div class="panel-tools">
                <a href='@Url.Action("Create","smtpGateway")' class="tools-icon">
                    <button type="submit" class="btn btn-primary btn-sm">Add New Smtp Gateway</button>
                </a>

                <!--<a href="#" class="tools-icon">
              <i class="zmdi zmdi-refresh"></i>
            </a>
            <a href="#" class="tools-icon">
              <i class="zmdi zmdi-close"></i>
            </a>-->
            </div>
        </div>
        


                </div>
            </div>

            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered dataTable" id="table-1">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayName("SL NO")
                                </th>

                                <th>
                                    @Html.DisplayName("Gateway Name")
                                </th>

                                <th>
                                    @Html.DisplayName("From Email")
                                </th>
                                <th>
                                    @Html.DisplayName("User Name")
                                </th>
                                <th>
                                    @Html.DisplayName("Server Name")
                                </th>
                                <th>
                                    @Html.DisplayName("Is Active")
                                </th>
                                <th>
                                    @Html.DisplayName("Is Default")
                                </th>
                                <th>
                                    @Html.DisplayName("Action")
                                </th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @count
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.GatewayName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SmtpUserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SmtpServerName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsActive)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsDefault)
                            </td>
                            <td style="display: inline-flex">
                                <a class="btn btn-small btn-info btnSize " href='@Url.Action("EDIT", "SMTPGateway", new { id = item.GatewayId })'>Edit</a>
                            </td>

                        </tr>
                            count++;
                        }



                        </table>
                </div>
            </div>

