@model  IEnumerable<TogoFogo.Models.CustomerServiceRecord.PartsDetailsModel>
@using TogoFogo.Models
@{


    Layout = null;
}
<table class="table table-striped table-bordered table-condensed" id="myTable">
    <thead>
        <tr>
            <th>Serial No</th>
            <th>
                @Html.DisplayNameFor(model => model.PartNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Defect)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Verifiedby)
            </th>


            <th>Actions</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PartNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Defect)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Verifiedby)
        </td>
        <td style="display: inline-flex">
            <a href='#' onclick="getItems('@item.PartNo','JsonGetPerson')" class="btn btn-small btn-info btnSize ">Edit</a>
        </td>
    </tr>
    }

</table>
