@*@model TogoFogo.Models.PWIRRModel*@
@model TogoFogo.Models.ReceiveMaterials
@{
    Layout = null;

}

@using (Html.BeginForm("EditPIWRR", "CustomerSupport", FormMethod.Post, new { onSubmit = "return checkSubmit()", id = "form11" }))
{
    <div class="col-md-6">
        <p style="font-size: 17px;"><u>Repair Information:</u></p>
        <div class="row" style="padding-bottom: 5px">
            @Html.LabelFor(model => model.ProcessName, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.ProcessName, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.ProcessName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row" style="padding-bottom: 5px">
            @Html.LabelFor(model => model.ServiceProviderName, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.ServiceProviderName, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.ServiceProviderName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row" style="padding-bottom: 5px">
            @Html.LabelFor(model => model.CC_NO, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.CC_NO, htmlAttributes: new { @class = "form-control", @readonly = "readonly", id = "getCC_NO" })
                @Html.ValidationMessageFor(model => model.CC_NO, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row" style="padding-bottom: 5px">
            @Html.LabelFor(model => model.CallRequestDateTime, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.CallRequestDateTime, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.CallRequestDateTime, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row" style="padding-bottom: 5px">
            @Html.LabelFor(model => model.CallStatusRepairInfo, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.CallStatusRepairInfo, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.CallStatusRepairInfo, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row" style="padding-bottom: 5px">
            @Html.LabelFor(model => model.CurrentStatusRepairInfo, new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.CurrentStatusRepairInfo, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.CurrentStatusRepairInfo, "", new { @class = "text-danger" })
            </div>
        </div>

        <p style="font-size: 17px;">Customer Information :</p>

        <div class="row" style="padding-bottom: 5px">
            @Html.LabelFor(model => model.Customer_Name, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.Customer_Name, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.Customer_Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row" style="padding-bottom: 5px">
            @Html.LabelFor(model => model.Mobile_No, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.Mobile_No, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.Mobile_No, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row" style="padding-bottom: 5px">
            @Html.LabelFor(model => model.Email_Id, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.Email_Id, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.Email_Id, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row" style="padding-bottom: 5px">
            @Html.LabelFor(model => model.Cust_Add, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.Cust_Add, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.Cust_Add, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row" style="padding-bottom: 5px">
            @Html.LabelFor(model => model.Cust_City, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.Cust_City, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.Cust_City, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row" style="padding-bottom: 5px">
            @Html.LabelFor(model => model.Cust_State, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.Cust_State, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.Cust_State, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row" style="padding-bottom: 5px">
            @Html.LabelFor(model => model.AltNo, new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.AltNo, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.AltNo, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-6">
            <p style="font-size: 17px;"><u>Device Information:</u></p>
            <div class="row" style="padding-bottom: 5px">
                @Html.LabelFor(model => model.SubCatName, new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.SubCatName, new { @class = "form-control", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.SubCatName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px">
                @Html.LabelFor(model => model.Brand, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.Brand, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.Brand, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px">
                @Html.LabelFor(model => model.Model, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.Model, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.Model, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px">
                @Html.LabelFor(model => model.CustomerId, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.CustomerId, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px">
                @Html.LabelFor(model => model.Problem, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.Problem, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.Problem, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px">
                @Html.LabelFor(model => model.Serial_No, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.Serial_No, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.Serial_No, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px">
                @Html.LabelFor(model => model.IMEI1, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.IMEI1, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.IMEI1, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px">
                @Html.LabelFor(model => model.IMEI2, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.IMEI2, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.IMEI2, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <p style="font-size: 17px;"><u>Warranty Information</u></p>
        <div class="col-md-6">

            <div class="row" style="padding-bottom: 5px">
                @Html.LabelFor(model => model.WarrantyStatus, new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.WarrantyStatus, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.WarrantyStatus, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="row" style="padding-bottom: 5px">
                @Html.LabelFor(model => model.WarrantyExpiryDate, new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.WarrantyExpiryDate, new { @class = "form-control", id = "datepicker" })
                    @Html.ValidationMessageFor(model => model.WarrantyExpiryDate, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <p style="font-size: 17px;"><u>Device Problem:</u></p>
        <div class="col-md-6">
            <div class="row" style="padding-bottom: 5px">
                @Html.LabelFor(model => model.PhysicalDamage, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.DropDownListFor(model => model.PhysicalDamage, new List<SelectListItem>
                    {
                        new SelectListItem {Text = "Yes", Value = "Yes"},
                        new SelectListItem {Text = "No", Value = "No"}

                    }, "Select", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PhysicalDamage, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px">
                @Html.LabelFor(model => model.DeviceWarranty, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.DropDownListFor(model => model.DeviceWarranty, new List<SelectListItem>
                    {
                        new SelectListItem {Text = "Yes", Value = "Yes"},
                        new SelectListItem {Text = "No", Value = "No"}

                    }, "Select", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DeviceWarranty, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
        <div class="col-md-6">

            <div class="row" style="padding-bottom: 5px">
                @Html.LabelFor(model => model.ProblemObserved, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.DropDownListFor(model => model.ProblemObserved, Model.ProblemObservedList, new { @class = "selectpicker", multiple = "multiple", data_live_search = "true", data_actions_box = "true" })

                    @Html.ValidationMessageFor(model => model.ProblemObserved, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <p style="font-size: 17px;"><u>Spare Parts Required:</u></p>
        <div class="col-md-6">
            <div class="row" style="padding-bottom: 5px">
                @Html.LabelFor(model => model.SpareType, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">

                    @Html.DropDownListFor(model => model.SpareType,Model.SpareTypeList, new { @class = "form-control", onchange = "AjaxWithValue('BindSparePartNameJson', 'SpareName', this)" })

                    @Html.ValidationMessageFor(model => model.SpareType, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px">
                @Html.LabelFor(model => model.SpareName, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">

                    @Html.DropDownListFor(model => model.SpareName,Model.SpareNameList, new { @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.SpareName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px">
                @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">

                    @Html.TextBoxFor(model => model.Quantity, new { @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-2" style="margin-top: 10px;">
            <input type="button" class="btn btn-primary" value="Add" onclick="getSpareData()" />
        </div>
    </div>
    <div class="row">
        <table class="table table-bordered table-condensed" style="width: 100%" id="test1">
            <thead>
                <tr>
                    <th>Call Request Number</th>
                    <th>Job Number</th>
                    <th>Spare Type</th>
                    <th>Spare Name</th>
                    <th>Price (INR)</th>
                    <th>Quantity</th>
                    <th>Remove</th>
                </tr>
            </thead>


            <tbody></tbody>
        </table>
    </div>
    <div class="row">
        <input type="button" value="Calculate" class="btn btn-info text-center" onclick="calculateBill()" />
    </div>
    <div class="row">
        <p style="font-size: 17px;"><u>Estimated Repair Cost (INR):</u></p>
        <div class="col-md-6">

            <div class="row" style="padding-bottom: 5px">
                @Html.LabelFor(model => model.BillServiceCharge, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.BillServiceCharge, new { @class = "form-control", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.BillServiceCharge, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px">
                @Html.LabelFor(model => model.BillSpareCost, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.BillSpareCost, new { @class = "form-control", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.BillSpareCost, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="row" style="padding-bottom: 5px">
                @Html.LabelFor(model => model.BillEstimatedCost, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.BillEstimatedCost, new { @class = "form-control", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.BillEstimatedCost, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px">
                @Html.LabelFor(model => model.wipedevicedata, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.DropDownListFor(model => model.wipedevicedata, new List<SelectListItem>
            {
                new SelectListItem {Text = "Yes", Value = "Yes"},
                new SelectListItem {Text = "No", Value = "No"}

            }, "Select", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.wipedevicedata, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px">
                @Html.LabelFor(model => model.IsEstimatedCostApproved, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.DropDownListFor(model => model.IsEstimatedCostApproved, new List<SelectListItem>
            {
                new SelectListItem {Text = "Yes", Value = "Yes"},
                new SelectListItem {Text = "No", Value = "No"}

            }, "Select", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IsEstimatedCostApproved, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

    </div>
    <div class="row">

        <p style="font-size: 17px;"><u>Customer Support Action:</u></p>
        <div class="col-md-6">

            <div class="row" style="padding-bottom: 5px">
                @Html.LabelFor(model => model.CallStatus, new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.DropDownListFor(model => model.CallStatus, Model.CallStatusList, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CallStatus, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row" style="padding-bottom: 5px">
                @Html.LabelFor(model => model.CallBackDatetime, new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.CallBackDatetime, new { @class = "form-control", id = "datepicker" })
                    @Html.ValidationMessageFor(model => model.CallBackDatetime, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px;display: none" id="CallRequestReject">
                @Html.LabelFor(model => model.CallRequestRejectReason, new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.DropDownListFor(model => model.CallRequestRejectReason, new List<SelectListItem>
                        {
                            new SelectListItem {Text = "", Value = ""}
                        }, "Select", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CallRequestRejectReason, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px">
                @Html.LabelFor(model => model.Remarks, new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control", @cols = "42", @rows = "2" })
                    @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px">
                @Html.LabelFor(model => model.SelectTrc, new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.DropDownListFor(model => model.SelectTrc, Model.SelectTrcList, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SelectTrc, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px">
                @Html.LabelFor(model => model.CourierName, new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.DropDownListFor(model => model.CourierName, Model.CourierNameList, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CourierName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px">
                @Html.LabelFor(model => model.CourierActive, new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">

                    @Html.DropDownListFor(model => model.CourierActive, new List<SelectListItem>
                    {
                        new SelectListItem {Text = "Yes", Value = "Yes"},
                        new SelectListItem {Text = "No", Value = "No"}
                    }, "Select", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CourierActive, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-6">

            <div class="row" style="padding-bottom: 5px">
                @Html.LabelFor(model => model.ReversePickupDate, new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.ReversePickupDate, new { @class = "form-control", id = "datepicker" })
                    @Html.ValidationMessageFor(model => model.ReversePickupDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px">
                @Html.LabelFor(model => model.EngineerVisitDate, new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.EngineerVisitDate, new { @class = "form-control", id = "datepicker" })
                    @Html.ValidationMessageFor(model => model.EngineerVisitDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px">
                @Html.LabelFor(model => model.TRCFullAddr, new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextAreaFor(model => model.TRCFullAddr, new { @class = "form-control", @cols = "42", @rows = "2" })
                    @Html.ValidationMessageFor(model => model.TRCFullAddr, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px">
                @Html.LabelFor(model => model.CourierLogo, new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">

                    <img src="" id="CourierLogo" width="100" height="100" alt="Courier Image" />
                    @Html.ValidationMessageFor(model => model.CourierLogo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px">
                @Html.LabelFor(model => model.CourierContact, new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.CourierContact, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CourierContact, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <button class="btn btn-primary" type="button">Cancel</button>
                <button class="btn btn-primary" type="reset">Reset</button>
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
    </div>
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>






