
@model IEnumerable<TogoFogo.Models.EditRepairStatus>
@{

    ViewBag.Title = "PCRC";
}

@*<div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>

                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>*@


<div class="panel-heading">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-md-6">
                <h3 class="m-y-0">Pending Call Request Confirmation</h3>
            </div>
            <div class="col-md-6 ">
                <div class="pull-right">
                    
                        <button class="btn btn-primary excel">Export to Excel</button>
                    
                    </div>
            </div>
        </div>
    </div>
</div>

<div class="panel-body">
    <div class="x_content" style="overflow-x: scroll;">
        <br />
        <table class="table table-striped table-bordered table-condensed text-nowrap" id="myTable">
            @*<div class="pull-right">
                <input class="btn btn-primary" value="Export" onclick="fnExcelReport();" />
                <iframe id="txtArea1" style="display:none"></iframe>
            </div>*@
            <thead>
                <tr>
                    <th>Sno.</th>
                    <th>CR No.</th>
                    <th>RRNo</th>
                    <th>Mobile No.</th>
                    <th>Call Status</th>
                    <th>Model</th>
                    @*<th>Problem</th>*@

                    <th>Email ID</th>
                    @*<th>CallBack DateAndTime</th>*@
                    <th>Address</th>
                    <th>Pincode</th>
                    <th>City</th>
                    <th>State</th>


                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td></td>
                    <td>
                        
                        {
                            <a href="@Url.Action("EditRequest", "CustomerSupport", new { reqno = item.CC_NO })" data-toggle="modal">
                                <span style="color:cornflowerblue !important" class="glyphicon glyphicon-earphone text-danger">@Html.DisplayFor(modelItem => item.CC_NO)</span>
                            </a>
                        


                        </td>
                    <td>@Html.DisplayFor(modelItem => item.CustomerId)</td>
                    <td>@Html.DisplayFor(modelItem => item.Mobile_No)</td>

                    <td>@Html.DisplayFor(modelItem => item.StatusName)</td>


                    <td>@Html.DisplayFor(modelItem => item.Model)</td>
                    @*<td>@Html.DisplayFor(modelItem => item.Problem)</td>*@

                    @*<td>@Html.DisplayFor(modelItem => item.CallBackDatetime)</td>*@

                    <td>@Html.DisplayFor(modelItem => item.Email_Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.Cust_Add)</td>
                    <td>@Html.DisplayFor(modelItem => item.Pincode)</td>

                    <td>@Html.DisplayFor(modelItem => item.Cust_City)</td>
                    <td>@Html.DisplayFor(modelItem => item.Cust_State)</td>



                </tr>
            }

        </table>
    </div>
</div>

@if (ViewBag.Message != null)
{
    <div id="snackbar">@ViewBag.Message</div>
}
@if (ViewBag.Message != null)
{
    <script>

        var x = document.getElementById("snackbar");
        x.className = "show";
        setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);

    </script>
}
@section Scripts{
    <script>

        $(document).ready(function () {

            $('table tr').each(function (index) {
                $(this).find('td:nth-child(1)').html(index);
            });
        });
        function fnExcelReport() {
            var tab_text = "<table border='2px'><tr bgcolor='#87AFC6'>";
            var textRange; var j = 0;
            tab = document.getElementById('myTable'); // id of table

            for (j = 0; j < tab.rows.length; j++) {
                tab_text = tab_text + tab.rows[j].innerHTML + "</tr>";
            }

            tab_text = tab_text + "</table>";
            tab_text = tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
            tab_text = tab_text.replace(/<img[^>]*>/gi, ""); // remove if u want images in your table
            tab_text = tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params

            var ua = window.navigator.userAgent;
            var msie = ua.indexOf("MSIE ");

            if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
            {
                txtArea1.document.open("txt/html", "replace");
                txtArea1.document.write(tab_text);
                txtArea1.document.close();
                txtArea1.focus();
                sa = txtArea1.document.execCommand("SaveAs", true, "Say Thanks to Sumit.xls");
            }
            else                 //other browser not tested on IE 11
                sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));

            return (sa);
        }
    </script>
}


