@model TogoFogo.Models.ManageBannersModel
@{
    Layout = null;
}
@Html.AntiForgeryToken()
@Html.HiddenFor(x => x.BannerId)




<div class=" row form-group">
    <label class="col-md-2 control-label" for="selectbasic">Banner Title</label>
    <div class="col-md-4">
        @Html.TextBoxFor(model => model.Title, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
    </div>
    <label class="col-md-2 control-label" for="selectbasic">Banner Name</label>
    <div class="col-md-4">
        @Html.TextBoxFor(model => model.Name, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>

</div>
<div class=" row form-group">
    <label class="col-md-2 control-label" for="selectbasic">Page Name</label>
    <div class="col-md-4">
       @Html.DropDownListFor(model => model.PageId, Model.PageNameList, "-Select-", htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.PageId, "", new { @class = "text-danger" })
    </div>
    <label class="col-md-2 control-label" for="selectbasic">Section Name</label>
    <div class="col-md-4">
        @Html.DropDownListFor(model => model.SectionId, Model.SectionNameList, "-Select-", htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.SectionId, "", new { @class = "text-danger" })
    </div>
</div>
<div class=" row form-group">
    <label class="col-md-2 control-label" for="selectbasic">Banner Description</label>
    <div class="col-md-4">
        @Html.TextAreaFor(model => model.Extra1, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Extra1, "", new { @class = "text-danger" })
    </div>
    <label class="col-md-2 control-label" for="selectbasic">IsActive</label>
    <div class="col-md-4">
        @Html.CheckBoxFor(model => model.IsActive, new { @checked = "checked" })
    </div>
</div>






