@model doorserve.Models.EditUser

@{
    ViewBag.Title = "Edit";
    Layout = null;
}
<style>
    .size {
        height: 30px;
    }

    .boxShadow {
        -moz-box-shadow: 0 0 10px 2px rgba(119, 119, 119, 0.75);
        -webkit-box-shadow: 0 0 10px 2px rgba(119, 119, 119, 0.75);
        box-shadow: 0 0 10px 2px rgba(119, 119, 119, 0.75);
    }
</style>


@using (Html.BeginForm("NewLead", "Dashboard", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = "return NewLeadPOST(this);" }))
{
    @Html.AntiForgeryToken()

    <div class="row">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CUSTOMER_NAME, htmlAttributes: new { @class = "col-md-5" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.CUSTOMER_NAME, new { htmlAttributes = new { @class = "form-control size" } })
                @Html.ValidationMessageFor(model => model.CUSTOMER_NAME, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MOBILE, htmlAttributes: new { @class = "col-md-5" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.MOBILE, new { htmlAttributes = new { @class = "form-control size", @onkeypress = "return event.charCode>=48 && event.charCode<=57", @maxLength = "10" } })
                @Html.ValidationMessageFor(model => model.MOBILE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ALTERNATE_NUMBER, htmlAttributes: new { @class = "col-md-5" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.ALTERNATE_NUMBER, new { htmlAttributes = new { @class = "form-control size", @onkeypress = "return event.charCode>=48 && event.charCode<=57", @maxLength = "10" } })
                @Html.ValidationMessageFor(model => model.ALTERNATE_NUMBER, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ADDR, htmlAttributes: new { @class = "col-md-5" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.ADDR, new { htmlAttributes = new { @class = "form-control size" } })
                @Html.ValidationMessageFor(model => model.ADDR, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GENDER, htmlAttributes: new { @class = "col-md-5" })
            <div class="col-md-7">
                <div class="pull-left">
                    @Html.RadioButtonFor(m => m.GENDER, "Male", htmlAttributes: new { @id = "rbMale" })
                    @Html.Label("rbMale", "Male")
                    @Html.RadioButtonFor(m => m.GENDER, "Female", htmlAttributes: new { @id = "rbFemale" })
                    @Html.Label("rbFemale", "Female")
                </div>
                @*@Html.EditorFor(model => model.GENDER, new { htmlAttributes = new { @class = "form-control size" } })
                    @Html.ValidationMessageFor(model => model.GENDER, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OCCUPATION, htmlAttributes: new { @class = "col-md-5" })
            <div class="col-md-7">
                <select class=" form-control size" name="OCCUPATION">

                    <option>Select Occupation</option>

                    <option>Housewife</option>

                    <option>Retired Pensioner</option>

                    <option>Salaried</option>
                    <option>Self Employed</option>
                    <option>Student</option>


                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.REMARKS, htmlAttributes: new { @class = "col-md-5" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.REMARKS, new { htmlAttributes = new { @class = "form-control size" } })
                @Html.ValidationMessageFor(model => model.REMARKS, "", new { @class = "text-danger" })
            </div>
        </div>

       

      
        <div class="form-group">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <input type="submit" value="Save" class="btn btn-primary btn-lg" style="height:37px;line-height:7px; margin-bottom:20px;margin-top:10px;width: -webkit-fill-available;" />
            </div>

        </div>
    </div>
}


