@model doorserve.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_Layout.cshtml"; ;
}

<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <div class="authentication-content m-b-30">
            <h3 class="m-t-0 m-b-30 text-center">@ViewBag.Title</h3>
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label for="form-control-1">Email address</label>
                    @Html.TextBoxFor(x=>x.Email,new  {@class="form-control" })
                   
                </div>
                <button type="submit" class="btn btn-info btn-block">Send</button>
            }
        </div>
    </div>
</div>
<div class="authentication-footer">
    <span class="text-muted">Need help? Contact us care@doorserve.com</span>
</div>
<div class="text-center">
    <a href="@Url.Action("Login","Account")" class="btn btn-outline-info">Login Here</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
