@model doorserve.Models.ActionTypeModel



    <div class=" row form-group">
        <label class="col-md-3 " for="textinput">Name</label>
        <div class="col-md-9">
            
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control input-md", @placeholder = "Name" })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class=" row form-group">
                <label class="col-md-3 " for="textinput">Code</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.Code, new { @class = "form-control input-md", @placeholder = "Code" })
                    @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                </div>
            </div>*@

            <div class="row form-group">
                <label class="col-md-3 control-label" for="selectbasic">
                    Is Active?
                </label>
                <div class="col-md-9">
                    @Html.CheckBoxFor(x => x.IsActive)
                </div>
            </div>

            <div class=" row form-group">
                <label class="col-md-3 " for="textinput">Comment</label>
                <div class="col-md-9">
                    @Html.TextAreaFor(model => model.Comments, new { @class = "form-control input-md", @placeholder = "Comment" })
                </div>
            </div>


