@model TogoFogo.Models.ServiceOfferedModel
@Html.HiddenFor(x => x.ServiceId)
@Html.HiddenFor(x => x.ServiceAreaId)
<div class=" row form-group">
    <label class="col-md-2 control-label" for="selectbasic">Device Category	</label>
    <div class="col-md-4">
        @Html.DisplayFor(model => model.Category,  new { @class = "form-control"})
    </div>
    <label class="col-md-2 control-label" for="selectbasic">Device Sub-Category	</label>
    <div class="col-md-4">
        @Html.DisplayFor(model => model.SubCategory, new { @class = "form-control" })
    </div>
</div>
<div class="row form-group">

    <label class="col-md-2 control-label" for="radios">Service Type</label>
    <div class="col-md-4">
        @Html.DisplayFor(model => model.ServiceType, new { @class = "form-control" })
    </div>

    <label class="col-md-2 control-label" for="radios">Service Delivery Type</label>
    <div class="col-md-4">

        @Html.DisplayFor(model => model.DeliveryType, new { @class = "form-control" })
  
    </div>
</div>

<div class="row form-group">
    <label class="col-md-2 control-label" for="radios">PinCode</label>
    <div class="col-md-4">
        @Html.TextBox("PinNumber","",  new { @class = "form-control", onchange = "getLocationByPin()" })   
    </div>
</div>
<div class="row form-group">

    <label class="col-md-2 control-label" for="radios">Country</label>
    <div class="col-md-4">
        @Html.DropDownListFor(model => model.CountryId, Model.CountryList, htmlAttributes: new { @class = "form-control", onchange = "AjaxWithValue('BindStateJson', 'StateId', this)" })
        @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "text-danger" })
    </div>
    <label class="col-md-2 control-label" for="radios">State</label>
    <div class="col-md-4">
        @Html.DropDownListFor(model => model.StateId, Model.StateList, htmlAttributes: new { @class = "form-control", onchange = "AjaxWithValue('BinCityJson', 'City', this)" })
        @Html.ValidationMessageFor(model => model.StateId, "", new { @class = "text-danger" })
    </div>


</div>
<div class="row form-group">
    <label class="col-md-2 control-label" for="radios">District</label>
    <div class="col-md-4">
        @Html.DropDownListFor(model => model.City, Model.CityList, htmlAttributes: new { @class = "form-control", onchange = "AjaxWithValue('BindPinCodeJson', 'PinCode', this)" })
        @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
    </div>
    <label class="col-md-2 control-label" for="radios">Pincode</label>
    <div class="col-md-4">
        @Html.DropDownListFor(model => model.PinCode, Model.PinCodeList, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.StateId, "", new { @class = "text-danger" })
    </div>
</div>

<div class="row form-group">
    <label class="col-md-2 control-label" for="radios">IsActive</label>
    <div class="col-md-1">
        @Html.CheckBoxFor(model => model.IsActive)
    </div>
   
</div>