@model TogoFogo.Models.ClientData.UploadedExcelModel



<div class="panel panel-default panel-table">
    <div class=" panel-body">
        <h4 class="m-t-0 m-b-25 p-t-10 p-b-10">Device Information :</h4>
        <div class="row">
            <div class="form-material">
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.DropDownListFor(x => x.DeviceCategoryId, Model.CategoryList, new { @class = "form-control", onchange = "AjaxWithValue('BindModelJson', 'DeviceModalId', this)" })
                        @Html.ValidationMessageFor(x => x.DeviceCategoryId, "", new { @class = "text-danger" })
                        <label class="floating-label">Category</label>
                    </div>
                </div>


                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.DropDownListFor(x => x.DeviceBrandId, Model.BrandList, new { @class = "form-control", onchange = "AjaxWithValue('BindModelJson', 'DeviceModalId', this)" })
                        @Html.ValidationMessageFor(x => x.DeviceBrandId, "", new { @class = "text-danger" })
                        <label class="floating-label t-0">Brand</label>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.DropDownListFor(x => x.DeviceModalId, Model.ProductList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.DeviceModalId, "", new { @class = "text-danger" })
                        <label class="floating-label">MOdal</label>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.TextBoxFor(x => x.DeviceIMEIOne, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.DeviceIMEIOne, "", new { @class = "text-danger" })
                        <label class="floating-label">IMEI/Serial Number</label>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="form-material">
                <div class="col-sm-3">
                    <div class="form-group">

                        @Html.TextBoxFor(x => x.DeviceIMEISecond, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.DeviceIMEISecond, "", new { @class = "text-danger" })
                        <label class="floating-label">IMEI 2</label>
                    </div>
                </div>


                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.TextBoxFor(x => x.PurchaseFrom, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.PurchaseFrom, "", new { @class = "text-danger" })
                        <label class="floating-label">Device Purchased From</label>

                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="row">
                        @Html.TextBoxFor(x => x.DOP, new { @class = "form-control", @Type = "date" })
                        @Html.ValidationMessageFor(x => x.DOP, "", new { @class = "text-danger" })
                        <label class="floating-label t-0" >Date Of Purchased</label>

                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.TextBoxFor(x => x.BillAmount, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.BillAmount, "", new { @class = "text-danger" })

                        <label class="floating-label">Invoice/Bill Number</label>
                    </div>
                </div>
</div>
        </div>


        <div class="row">
            <div class="form-material">
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.TextBoxFor(x => x.BillAmount, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.BillAmount, "", new { @class = "text-danger" })
                        <label class="floating-label">Invoice/Bill Amount</label>
                    </div>
                </div>
                </div>
            </div>
      



        <div class="row">
            <form class="form-material">
                <div class="col-sm-2"> <h5 class="m-t-0">Device Condition</h5></div>
                <div class="col-sm-10">

                    @foreach (var item in Model.ConditionList)
                    {
                        <label class="custom-control custom-control-primary custom-checkbox">
                            @Html.RadioButtonFor(x => x.DeviceConditionId, item.Value)
                            <span>@item.Text</span>
                        </label>
                    }

                </div>
                @Html.ValidationMessageFor(x => x.DeviceConditionId, "", new { @class = "text-danger" })
</form>
        </div>       

    </div>

</div>
      



   

