@model IEnumerable<TogoFogo.Models.ProviderFileModel>
@using TogoFogo.Models
@{

    var count = 1;
}


            <table class="table table-striped table-bordered table-condensed" >
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("Serial No")
                        </th>
                        <th>
                            @Html.DisplayName("File Name")
                        </th>
                        <th>
                            @Html.DisplayName("Uploaded Date")
                        </th>
                        <th>
                            @Html.DisplayName("Updated")
                        </th>
                        <th>
                            @Html.DisplayName("Not Updated")
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>


                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @count
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FileName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UploadedDate)
                        </td>
                        <td>
                            @item.TotalRecords
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FailedRecords)
                        </td>
                        

                        <td style="display: inline-flex">
                            @if (Permissions.Rights.ExcelExport)
                            {
                                <a href="~/files/ServiceProviders/@item.SysFileName" class="btn btn-small btn-info btnSize">Download</a>
                            }

                            @if (Permissions.Rights.Edit)
                            {
                                <a href="@Url.Action("ServiceableAreaPinCode","ManageServiceProviders",new {@fileId=item.FileId} )" class="btn btn-small btn-info btnSize">View</a>
                            }
                        </td>
                    </tr>
                    count++;
                }

            </table>
     