@model doorserve.Models.ManageCountryModel


<div class="row" style="padding-bottom: 5px;">
    @Html.LabelFor(model => model.Cnty_Name, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.Cnty_Name, new { @class = "form-control", @cols = 42, @rows = 2 })

    </div>
</div>

<div class="row" style="padding-bottom: 5px;">
    @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control", @cols = 42, @rows = 2 })

    </div>
</div>
<div class="row" style="padding-bottom: 5px;">
    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.CheckBoxFor(model => model.IsActive, new { @checked = "checked" })

    </div>
</div>

