@model TogoFogo.Models.ManageSparePart
@{
    Layout = null;
}
@using (Html.BeginForm("AddSparePartName", "ManageSparePart", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="col-md-8 col-sm-8 col-lg-8 col-xs-12">
        <div class="row" style="padding-bottom: 5px;">
            @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.DropDownListFor(model => model.CategoryId, Model.CategoryList,"Select", new { @class = "form-control", onchange = "AjaxWithValue('BindSubCategoryJson', 'SubCategory', this)" })
                @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row" style="padding-bottom: 5px;">
            @Html.LabelFor(model => model.SubCategory, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.DropDownListFor(model => model.SubCategory,Model.SubCategoryList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SubCategory, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row" style="padding-bottom: 5px;">
            @Html.LabelFor(model => model.Brand, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.DropDownListFor(model => model.BrandId, Model.BrandList, new { @class = "form-control", onchange = "AjaxWithValue('BindModelNameJson', 'ProductId', this)" })
                @Html.ValidationMessageFor(model => model.Brand, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row" style="padding-bottom: 5px;">
            @Html.LabelFor(model => model.DeviceModelName, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.DropDownListFor(model => model.ProductId, Model.DeviceModelNameList, new { @class = "form-control" })
            </div>
        </div>

        <div class="row" style="padding-bottom: 5px;">
            @Html.LabelFor(model => model.TUPC, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.TUPC, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="row" style="padding-bottom: 5px;">
            @Html.LabelFor(model => model.SpareTypeName, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.DropDownListFor(model => model.SpareTypeId, Model.SpareTypeIdList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SpareTypeName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row" style="padding-bottom: 5px;">
            @Html.LabelFor(model => model.CTHNo, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.DropDownListFor(model => model.CTHNo, Model.CTHNoList,"Select", htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="row" style="padding-bottom: 5px;">
            @Html.LabelFor(model => model.SpareCode, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.SpareCode, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SpareCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row" style="padding-bottom: 5px;">
            @Html.LabelFor(model => model.SortOrder, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.SortOrder, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="row" style="padding-bottom: 5px;">
            @Html.LabelFor(model => model.PartName, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(model => model.PartName, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PartName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row" style="padding-bottom: 5px;">
            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
            @*<div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.DropDownListFor(model => model.IsActive, new List<SelectListItem>
                    {
                        new SelectListItem {Text = "Yes", Value = "Yes"},
                        new SelectListItem {Text = "No", Value = "No"}

                    }, "Select", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                </div>*@
            @Html.CheckBoxFor(model => model.IsActive, new { @checked = "checked",@class="m-l-15" })
        </div>
        <div class="row" style="padding-bottom: 5px;">
            @Html.Label("Part Image", htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
            <div class="col-md-5 col-sm-5 col-xs-12">
                @Html.TextBoxFor(model => model.PartImage1, htmlAttributes: new { @type = "file", accept = "image/*", @class = "form-control", @onchange = "readURL(this);" })
            </div>
            <div class="col-md-3">
                <img id="blah" src="~/Images/male-user-add.png" width="50" height="50" alt="your image" />
            </div>
        </div>
        <div class="ln_solid"></div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-4">
                @*<button class="btn btn-primary" type="button">Cancel</button>*@
                <button class="btn btn-primary" type="reset" id="ResetImage">Reset</button>
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
    </div>

}
@*@if (ViewBag.SortOrder != null)
    {
        <script>
            document.getElementById('SortOrder').value = '@ViewBag.SortOrder';

        </script>
    }*@
