@model doorserve.Models.ChangePasswordModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="m-y-0">Change Password</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" action="ChangePassword" method="post">
            <div class="form-group">
                <label for="form-control-3" class="col-sm-3 col-md-4 control-label">Current Password</label>
                <div class="col-sm-6 col-md-4">
                    @Html.TextBoxFor(model => model.CurrentPassword, new { @class = "form-control input-md", @placeholder = "Current Password",@type="password"})
                    @Html.ValidationMessageFor(model => model.CurrentPassword, "", new { @class = "text-danger" })
                    @*<input type="password" class="form-control" id="form-control-3" placeholder="Current Password">*@
                </div>
            </div>

            <div class="form-group">
                <label for="form-control-4" class="col-sm-3 col-md-4 control-label">New Password</label>
                <div class="col-sm-6 col-md-4">
                    @Html.TextBoxFor(model => model.NewPassword, new { @class = "form-control input-md", @placeholder = "New Password",@type="password"})
                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                    @*<input type="password" class="form-control" id="form-control-4" placeholder="New Password">*@
                </div>
            </div>
            <div class="form-group">
                <label for="form-control-4" class="col-sm-3 col-md-4 control-label">Confirm Password</label>
                <div class="col-sm-6 col-md-4">
                    @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control input-md", @placeholder = "Confirm Password",@type="password"})
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    @*<input type="password" class="form-control" id="form-control-4" placeholder="Confirm Password">*@
                </div>
            </div>
            @*<div class="form-group">
                <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
                    <label class="custom-control custom-control-primary custom-checkbox active">
                        <input class="custom-control-input" type="checkbox" name="mode" checked="checked">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-label">Keep me signed in</span>
                    </label>
                </div>
            </div>*@
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
        
    </div>
</div>




