@model TogoFogo.Models.Company.CompanyModel


<div class="panel panel-default panel-table">
    <div class="panel-body">
        <div class="panel panel-default panel-table">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 ">
                        <ul class="nav nav-pills company-tabs m-b-15">
                            <li class="active">
                                <a href="#tab-3" role="tab" data-toggle="tab">
                                    Setting
                                </a>
                            </li>
                            <li>
                                <a href="#tab-4" role="tab" data-toggle="tab">
                                    Organization
                                </a>
                            </li>
                            <li>
                                <a href="#tab-5" role="tab" data-toggle="tab">
                                    Contact Person And Address
                                </a>
                            </li>

                            <li>
                                <a href="#tab-6" role="tab" data-toggle="tab">
                                    Bank Detail
                                </a>
                            </li>

                            <li>
                                <a href="#tab-7" role="tab" data-toggle="tab">
                                    Agreement
                                </a>
                            </li>

                            <li>
                                <a href="#tab-8" role="tab" data-toggle="tab">
                                    Registration
                                </a>
                            </li>


                        </ul>

                    </div>
                    <div class="col-md-9">

                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="tab-3">
                                <div class="panel panel-default panel-table  b-r-0 b-b-0 b-left-side">
                                    <div class="panel-body p-t-0 ">
                                        <h4 class="p-b-10"> Admin Panel : </h4>
                                        @Html.Partial("~/Views/Company/_AddOrEditCompany.cshtml")
                                        <div class="form-group row m-b-25">
                                            <div class="col-sm-offset-11  col-md-1">
                                                <button type="submit" class="btn btn-success" style="">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div role="tabpanel" class="tab-pane fade in" id="tab-4">
                                <div class="panel panel-default panel-table  b-r-0 b-b-0 b-left-side">

                                    <div class="panel-body p-t-0">

                                        <h4 class="p-b-10"> Organization Code : </h4>
                                        @Html.Partial("~/Views/Common/_AddOrEditOrginazation.cshtml", Model.Organization)
                                        <div class="form-group row m-b-25">
                                            <div class="col-sm-offset-11  col-md-1">
                                                <button type="submit" class="btn btn-success" style="">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div role="tabpanel" class="tab-pane fade in" id="tab-5">
                                <div class="panel panel-default panel-table  b-r-0 b-b-0 b-left-side">
                                    <div class="panel-body p-t-0">
                                        <div class="form-group">
                                            <div class="col-md-3 p-l-0"><h4 class="p-b-10"> Contact Person : </h4></div>
                                            <div class="col-md-2 col-md-offset-7">
                                                <button type="button" class="btn btn-success btn-sm " id="AddContactPerson">Add Contact Person</button>
                                            </div>
                                            @Html.Partial("~/Views/Common/_ContactDetails.cshtml", Model.Contacts)
                                            <div class="row" style="display:none" id="ContactPerson">
                                                <div class="col-12">
                                                    @Html.Partial("~/Views/Common/_AddEditContactPerson.cshtml", Model.Contact)
                                                </div>
                                            </div>

                                        </div>
                                        <div class="form-group row m-b-25">
                                            <div class="col-sm-offset-11  col-md-1">
                                                <button type="submit" class="btn btn-success" style="">Save</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div role="tabpanel" class="tab-pane fade in" id="tab-6">
                                <div class="panel panel-default panel-table  b-r-0 b-b-0 b-left-side">
                                    <div class="panel-body p-t-0">
                                        <div class="form-group">
                                            <div class="col-md-3 p-l-0"><h4 class="p-b-10"> Bank Details: </h4></div>
                                            <div class="col-md-2 col-md-offset-7">
                                                <button type="submit" class="btn btn-success btn-sm " id="AddBankAccount">Add Bank Account</button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class=" col-md-12">
                                                @Html.Partial("~/Views/Common/_bankDetails.cshtml", Model.BankDetails)
                                            </div>
                                        </div>
                                        <div class="row" style="display:none" id="BankAccount">
                                            <div class="col-12">
                                                @Html.Partial("~/Views/Common/_AddOrUpdateBankDetails.cshtml", Model.BankDetail)
                      
                                            </div>
                                        </div>
                                        <div class="form-group row m-b-25">
                                            <div class="col-sm-offset-11  col-md-1">
                                                <button type="submit" class="btn btn-success" style="">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div role="tabpanel" class="tab-pane fade in" id="tab-7">
                                <div class="panel panel-default panel-table  b-r-0 b-b-0 b-left-side">
                                    <div class="panel-body p-t-0">
                                        <div class="form-group">
                                            <div class="col-md-12 p-l-0"><h4 class="p-b-10"> Agreement: </h4></div>
                                            @Html.Partial("~/Views/Company/_Agreement.cshtml", Model.Agreement)
                                        </div>
                                        @Html.Partial("~/Views/Company/_AgreementDetail.cshtml", Model.Services)
                                        <div class="form-group row m-b-25">
                                            <div class="col-sm-offset-11  col-md-1">
                                                <button type="submit" class="btn btn-success" style="">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div role="tabpanel" class="tab-pane fade in" id="tab-8">
                                <div class="panel panel-default panel-table  b-r-0 b-b-0 b-left-side">
                                    <div class="panel-body p-t-0">
                                        @Html.Partial("~/Views/Company/_Registration.cshtml", Model)
                                        <div class="form-group row m-b-25">
                                            <div class="col-sm-offset-11  col-md-1">
                                                <button type="submit" class="btn btn-success">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>








