<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="">
    <title>Togofogo</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700" rel="stylesheet">
    <script src="/ckeditor/ckeditor.js"></script>
    <script src="/ckeditor/js/sample.js"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="layout layout-header-fixed layout-left-sidebar-fixed">

    <div class="site-overlay"></div>
    <div class="site-header">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Action("Index","Home")">
                    <img src="/content/img/logo.png" />

                </a>
                <button class="navbar-toggler left-sidebar-toggle pull-left visible-xs" type="button">
                    <span class="hamburger"></span>
                </button>
                <button class="navbar-toggler right-sidebar-toggle pull-right visible-xs-block" type="button">
                    <i class="zmdi zmdi-long-arrow-left"></i>
                    <div class="dot bg-danger"></div>
                </button>
                <button class="navbar-toggler pull-right visible-xs-block" type="button" data-toggle="collapse" data-target="#navbar">
                    <span class="more"></span>
                </button>
            </div>
            <div class="navbar-collapsible">
                <div id="navbar" class="navbar-collapse collapse">
                    <button class="navbar-toggler left-sidebar-collapse pull-left hidden-xs" type="button">
                        <span class="hamburger"></span>
                    </button>
                    <button class="navbar-toggler right-sidebar-toggle pull-right hidden-xs" type="button">
                        <i class="zmdi zmdi-long-arrow-left"></i>
                        <div class="dot bg-danger"></div>
                    </button>
                    <form class="navbar-form navbar-left">
                        <div class="navbar-search-group">
                            <input type="text" class="form-control" id="filter" placeholder="Search">
                            @*<button type="submit" class="btn btn-default">
                                    <i class="zmdi zmdi-search"></i>
                                </button>*@
                        </div>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-table dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="nav-cell nav-icon">
                                    <i class="zmdi zmdi-apps"></i>
                                </span>
                                <span class="hidden-md-up m-l-15">Applications</span>
                            </a>
                            <div class="dropdown-menu dropdown-apps custom-dropdown">
                                <div class="dropdown-footer">
                                    <a href="#">View all apps</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-table dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="nav-cell nav-icon">
                                    <i class="zmdi zmdi-notifications-none"></i>
                                </span>
                                <span class="hidden-md-up m-l-15">Notifications</span>
                                <span class="label label-success">3</span>
                            </a>
                            <div class="dropdown-menu custom-dropdown dropdown-notifications dropdown-menu-right">
                                <div class="dropdown-header">
                                    <span>Notifications</span>
                                    <a href="#" class="text-primary">Mark all as read</a>
                                </div>
                                <div class="n-items">
                                </div>
                                <div class="dropdown-footer">
                                    <a href="#">View all notifications</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-table dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="nav-cell nav-icon">
                                    <i class="zmdi zmdi-email-open"></i>
                                </span>
                                <span class="hidden-md-up m-l-15">Messages</span>
                                <span class="label label-warning">7</span>
                            </a>
                            <div class="dropdown-menu custom-dropdown dropdown-messages dropdown-menu-right">
                                <div class="dropdown-header">
                                    <span>Recent messages</span>
                                    <a href="#" class="text-primary">New Message</a>
                                </div>
                                <div class="m-items">
                                </div>
                                <div class="dropdown-footer">
                                    <a href="#">View all messages</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-table dropdown hidden-sm-down">
                            @Html.Partial("_LoginPartial")
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="site-main">
        <div class="site-left-sidebar">
            <div class="sidebar-backdrop"></div>
            @Html.Action("DynamicLinks", "Home")
        </div>
        <div class="site-content">
            <div class="panel panel-default">
                @RenderBody()
            </div>
        </div>

        <div class="site-footer">
            2019 © Togofogo.com
        </div>
    </div>


    @Scripts.Render("~/bundles/customBundle")
 
    @Scripts.Render("~/bundles/bootstrap")

    <script>

        $(document).ready(function (e) {
            $('.selectpicker').selectpicker();

            $(".bootstrap-select").click(function () {
                $(this).addClass("open");

                $('#CountryList').attr('data-live-search', true);
            });
            $(document).click(function () {
                $(".bootstrap-select").removeClass("open");
                $('.selectpicker').attr("data-live-search", true);

            });
            $(".bootstrap-select").click(function (e) {
                e.stopPropagation();


            });

        });
        $(document).ready(function () {
            $('#myTable').DataTable();



        });
        $(document).ready(function () {
            $('#OOWRRTable').DataTable({

                dom: 'Bfrtip',

                buttons: [
                    {
                        extend: 'excel',
                        title: 'OOWR report',
                        exportOptions: {
                            columns: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
                        }
                    },

                ],
                initComplete: function () {
                    //$(".buttons-html5").css("background-color", "green","color","white");
                    $('.buttons-html5').html('<b><span class="glyphicon glyphicon-file" data-toggle="tooltip" title="Export To Excel" style="font-size: 15px;color: darkgreen;font-weight: 600;">Export To Excel</span></b>');
                    $('#hideLink').hide()
                }
            });
        });
        $(document).ready(function () {
            //$('#SC_PincodeDropdown').select2();
            $("#datepicker,#AgreementStartDate,#AgreementEndDate,#editAgreementStartDate,#JOB_DATE,#Previous_Shipping_Date,#Advance_Payment_Date,#Schedule_Courier_Pickup_Date,#Bill_Invoice_Date")
                .datepicker({
                    dateFormat: 'dd-M-yy',
                }).datepicker("setDate", new Date());
            $('#date_begin,#date_end').datetimepicker();
            $("#form_datetime,#form_datetime1,#form_datetime2").datetimepicker({ format: 'yyyy-mm-dd hh:ii' });
        });
        $(document).ready(function () {

            $('#ReportFromDate,#ReportToDate').datepicker({
                dateFormat: 'dd-M-yy',
            }).datepicker("setDate", new Date());

            $('#LandingToDate,#LandingFromDate').datepicker({
                dateFormat: 'dd-M-yy',
                maxDate: new Date(),
            }).datepicker("setDate", new Date());
        });
        $(document).ready(function () {
            $("#datepicker1,#FromDate,#ToDate").datepicker({
                dateFormat: 'dd-M-yy',
                minDate: 0
            }).datepicker("setDate", new Date());;
        });
        $(document).ready(function () {
            $("#datepicker1").datepicker({
                dateFormat: 'dd-M-yy',
            }).datepicker("setDate", new Date());;
        });

        function readURL(input) {
            var _this = input;
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    //$('#blah')
                    //    .attr('src', e.target.result);
                    $(_this).parent('div').next('div').find('img').attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
        var loadFile = function (event) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('editblah');
                output.src = reader.result;
            };
            reader.readAsDataURL(event.target.files[0]);
        };


        $(function () {
            var startDate = $(".startDate").val();
            var endDate = $(".endDate").val();

            $(".excel").click(function () {
                var obj = $("#myTable").DataTable().$('tr').clone();
                var obj1 = $('<tr>').append($("#myTable thead tr").html());


                $(obj1).find("th:last-child").remove();
                $(obj).find("td:last-child").remove();
                $('<table>')
                    .append(
                        obj1
                    )
                    .append(
                        obj
                    )
                    .table2excel({
                        exclude: ".excludeThisClass",
                        name: "Worksheet Name",
                        filename: "Excel.xls" //do not include extension
                    });
            });

            $("#myTable").dataTable();
        });

        //$(function () {
        //    var startDate = $(".startDate").val();
        //    var endDate = $(".endDate").val();

        //    $(".excel").click(function () {
        //        $('<table>')
        //            .append(
        //                $("#myTable").DataTable().$('tr').clone()
        //            )
        //            .table2excel({
        //                exclude: ".excludeThisClass",
        //                name: "Worksheet Name",
        //                filename: "SomeFile" //do not include extension
        //            });
        //    });

        //    $("#myTable").dataTable();
        //});




        $(document).ready(function () {
            $("#toast-container").fadeOut(5000);
            $("#filter").keyup(function () {
                var filter = $(this).val();
                $("#sideMenu").find('li').each(function () {
                    if (filter == "") {
                        $(this).css("visibility", "visible");
                        $(this).fadeIn();
                    } else if ($(this).text().search(new RegExp(filter, "i")) < 0) {
                        $(this).css("visibility", "hidden");
                        $(this).fadeOut();

                    } else {
                        $(this).css("visibility", "visible");
                        $(this).fadeIn();
                    }
                });
            });
        });



    </script>
    @if (TempData["response"] != null)
    {
        var resp = TempData["response"] as TogoFogo.Models.ResponseModel;
        <div class="tox tox-silver-sink tox-tinymce-aux" style="position: relative;">
            <div id="toast-container" class="toast-top-right">
                @if (resp.IsSuccess)
                {
                    <div class="toast toast-success" aria-live="polite" style="">
                        <div class="toast-message">@resp.Response</div>
                    </div>
                }
                else
                {
                    <div class="toast toast-error" aria-live="polite" style="">
                        <div class="toast-message">@resp.Response</div>
                    </div>
                }
            </div>
        </div>
    }
    else
    {
        <div class="tox tox-silver-sink tox-tinymce-aux" style="position: relative;" id="msg">
            <div id="toast-container" class="toast-top-right">
                <div class="toast toast-success" aria-live="polite" style="display:none;">
                    <div class="toast-message"></div>
                </div>
                <div class="toast toast-error" aria-live="polite" style="display:none;">
                    <div class="toast-message"></div>
                </div>
            </div>
        </div>
    }


    @RenderSection("scripts", required: false)


</body>
</html>