@model IList<TogoFogo.Models.MenuMasterModel>
<div class="table-responsive">
    <table class="table table-striped table-bordered dataTable" id="tblMenu">
        <thead>
            <tr>
                <th><input type="checkbox" id="chkAll" /></th>
                <th>Parent Menu</th>
                <th>menu</th>
                <th>View</th>
                <th>Create</th>
                <th>Edit</th>
                <th>Delete</th>
                <th>History</th>
                <th>Excel Export</th>
            </tr>
        </thead>
        <tbody>
           @for (int i = 0; i< Model.Count(); i++)
           {
            <tr>
                <td>
                @Html.HiddenFor(x=> Model[i].MenuCapId)
                @Html.HiddenFor(x=> Model[i].ActionRightId)
                @Html.CheckBoxFor(model=>Model[i].CheckedStatus,new { @class= "chkMenu" })
                </td>
                <td>@Model[i].ParentMenuName</td>
                <td>@Model[i].Menu_Name</td>
                @for (int j = 0; j < Model[i].RightActionList.Count; j++)
                {
                <td>
                    @Html.CheckBoxFor(model => Model[i].RightActionList[j].IsChecked, new { @class = "chkAction" })
                    @Html.HiddenFor(model => Model[i].RightActionList[j].Value)
                </td>

                }

            </tr>
           }

        </tbody>
    </table>
</div>