@model TogoFogo.Models.LoginModel
@{ 
    Layout = null;
}
<li>
    @foreach (var item in ViewBag.MainLink)
    {
        <a><i class="fa fa-home"></i> @item.Menu_Name <span class="fa fa-chevron-down"></span></a>
    }

    @*<ul class="nav child_menu">

        <li style="display: inline-flex;"><i style="margin-top:9px;" class="glyphicon glyphicon-chevron-right"></i>@Html.ActionLink("Manage Brands", "Brand", "Master", new { }, null)</li>
        <li style="display: inline-flex;"><i style="margin-top:9px;" class="glyphicon glyphicon-chevron-right"></i>@Html.ActionLink("Manage Location", "ManageCityLocation", "ManageCityLocation", new { }, null)</li>
        <li style="display: inline-flex;"><i style="margin-top:9px;" class="glyphicon glyphicon-chevron-right"></i>@Html.ActionLink("Manage Products", "Product", "Master", new { }, null)</li>
        <li style="display: inline-flex;"><i style="margin-top:9px;" class="glyphicon glyphicon-chevron-right"></i>@Html.ActionLink("Manage Device Problem", "ManageDeviceProblems", "Master", new { }, null)</li>
        <li style="display: inline-flex;"><i style="margin-top:9px;" class="glyphicon glyphicon-chevron-right"></i>@Html.ActionLink("Manage Problem Observed", "ManageProblemObserved", "ProblemObserved", new { }, null)</li>
        <li style="display: inline-flex;"><i style="margin-top:9px;" class="glyphicon glyphicon-chevron-right"></i>@Html.ActionLink("Manage Device Category", "DeviceCategory", "Category", new { }, null)</li>
        <li style="display: inline-flex;"><i style="margin-top:9px;" class="glyphicon glyphicon-chevron-right"></i>@Html.ActionLink("Manage Device Sub Category", "DeviceSubCategory", "Category", new { }, null)</li>
        <li style="display: inline-flex;"><i style="margin-top:9px;" class="glyphicon glyphicon-chevron-right"></i>@Html.ActionLink("Manage Spare Type", "SpareIndex", "ManageSparePart", new { }, null)</li>
        <li style="display: inline-flex;"><i style="margin-top:9px;" class="glyphicon glyphicon-chevron-right"></i>@Html.ActionLink("Manage Spare Part Name", "ManageSparePartName", "ManageSparePart", new { }, null)</li>
        <li style="display: inline-flex;"><i style="margin-top:9px;" class="glyphicon glyphicon-chevron-right"></i>@Html.ActionLink("Manage TRC", "TRC", "ManageTRC", new { }, null)</li>
        <li style="display: inline-flex;"><i style="margin-top:9px;" class="glyphicon glyphicon-chevron-right"></i>@Html.ActionLink("Manage Service Provider", "ManageProvider", "ManageProvider", new { }, null)</li>
        <li style="display: inline-flex;"><i style="margin-top:9px;" class="glyphicon glyphicon-chevron-right"></i>@Html.ActionLink("Color Master", "ColorMaster", "Master", new { }, null)</li>
        <li style="display: inline-flex;"><i style="margin-top:9px;" class="glyphicon glyphicon-chevron-right"></i>@Html.ActionLink("Create Role", "UserRole", "Master", new { }, null)</li>
        <li style="display: inline-flex;"><i style="margin-top:9px;" class="glyphicon glyphicon-chevron-right"></i>@Html.ActionLink("Create User", "UserMaster", "Master", new { }, null)</li>
        
    </ul>*@
</li>