@model IEnumerable<TogoFogo.Models.ManageLocation>
@using TogoFogo.Models
@{
    Layout = null;
    int Count=1;
}
<div class="panel panel-default panel-table">
    <div class="panel-heading">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-md-6">
                    <h3 class="m-y-0">List Of All locations</h3>
                </div>
                <div class="col-md-6 ">
                    <div class="pull-right">
                        @*
                            @if (Model._UserActionRights.ExcelExport)
                            {
                                <button class="btn btn-primary excel">Export to Excel</button>
                            }*@
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-striped table-bordered table-condensed" id="myTable">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.SerialNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CountryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StateName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DistrictName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PinCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LocationName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comments)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AddedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedOn)
                </th>

                <th>Action</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SerialNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CountryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StateName)

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DistrictName)

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PinCode)

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationName)
        </td>
        <td>
            @(item.IsActive == true ? "Active" : "InActive")

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedOn)
        </td>

        <td style="display: inline-flex">

            @* @Url.Action("#Editmodel", new { id = item.BrandId })*@
            @*<a href="#Historymodel" data-toggle="modal" class="btn btn-small btn-success btnSize ">History</a>*@
            @if (Permissions.Rights.Edit)
            {
                <a href="#Editmodel" data-toggle="modal" class="btn btn-small btn-info btnSize " onclick="EditCity(@item.LocationId)">Edit</a>
            }
            @* @if (Model._UserActionRights.Delete)
            {
                <input type="button" value="Delete" class="btn btn-small btn-danger btnSize" />
            }*@
        </td>
    </tr>
            Count++;
        }

    </table>

</div>


