@model IEnumerable<TogoFogo.Models.ManageLocation>
@{
    Layout = null;
}


<table class="table table-striped table-bordered table-condensed" id="myTable">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.SerialNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StateName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.ModifyBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifyDate)
            </th>

            <th>Actions</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SerialNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CountryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StateName)

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationName)
        </td>
        <td>
            @(item.IsActive==true?"Active":"InActive")
           
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifyBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifyDate)
        </td>

        <td style="display: inline-flex">

            @* @Url.Action("#Editmodel", new { id = item.BrandId })*@
            @*<a href="#Historymodel" data-toggle="modal" class="btn btn-small btn-success btnSize ">History</a>*@
            @if (ViewBag.Create == 3)
            {
                <a href="#Editmodel" data-toggle="modal" class="btn btn-small btn-info btnSize " onclick="EditCity(@item.LocationId)">Edit</a>
            }
            @if (ViewBag.Create == 4)
            {
                <input type="button" value="Delete" class="btn btn-small btn-danger btnSize" />
            }
            </td>
    </tr>
    }

</table>




