@model TogoFogo.Models.ClientData.UploadedExcelModel

@using (Html.BeginForm("NewCallLog", "ClientData", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="panel panel-default panel-table b-t-0">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-horizontal">
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="form-group row m-b-0">
                                    <div class="col-sm-2 p-l-0"> <h4>Select Client </h4></div>
                                    <div class="col-sm-5">
                                        @Html.DropDownListFor(x => x.ClientId, Model.ClientList, "--Select--", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.ClientId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <div class="form-horizontal">
                <div class="panel-default m-b-10">
                    <div class="panel-heading p-l-0 p-t-0 ">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="m-t-0 m-b-5">Customer Details</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 m-t-15">
                        <div class="form-group row">
                            <div class="col-sm-2">
                                <label class="custom-control custom-control-primary custom-checkbox  active">
                                    @Html.CheckBoxFor(x => x.IsExistingCustomer, new { @class = "custom-control-input" })
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-label">Is Existing Customer ?</span>
                                </label>
                            </div>


                            <label class="col-sm-1 " for="form-control-1"> Mobile  </label>
                            <div class="col-sm-3">
                                @Html.TextBoxFor(x => x.CustomerContactNumber, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.CustomerContactNumber, "", new { @class = "text-danger" })
                            </div>

                            <label class="col-sm-2 " for="form-control-1"> Customer Type  </label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(x => x.CustomerTypeId, Model.CustomerTypeList, "--Select--", new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.CustomerTypeId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <div class="form-group row">
                            <label class="col-sm-2 " for="form-control-1"> Customer Name </label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(x => x.CustomerName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.CustomerName, "", new { @class = "text-danger" })
                            </div>
                            <label class="col-sm-2" for="form-control-1"> Alternative Contact Number </label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(x => x.CustomerAltConNumber, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.CustomerAltConNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-12">
                        <div class="form-group row">
                            <label class="col-sm-2" for="form-control-1">Email</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(x => x.CustomerEmail, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.CustomerEmail, "", new { @class = "text-danger" })
                            </div>

                            <label class="col-sm-2 " for="form-control-1">Address Type</label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(x => x.address.AddressTypeId, Model.address.AddressTypelist, "--Select--", new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.address.AddressTypeId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                </div>


                <div class="form-group row">
                    <div class="col-sm-12">
                        <div class="form-group row">
                            <label class="col-sm-2" for="form-control-1">Address</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(x => x.address.Address, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.address.Address, "", new { @class = "text-danger" })
                            </div>

                            <label class="col-sm-2 " for="form-control-1">Landmark</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(x => x.address.NearLocation, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.address.NearLocation, "", new { @class = "text-danger" })

                            </div>
                        </div>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-sm-12">
                        <div class="form-group row">
                            <label class="col-sm-2" for="form-control-1">Pincode</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(x => x.address.PinNumber, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.address.PinNumber, "", new { @class = "text-danger" })

                            </div>
                            <label class="col-sm-2 " for="form-control-1">Country</label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(x => x.address.CountryId, Model.address.CountryList, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.address.CountryId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-sm-12">
                        <div class="form-group row">
                            <label class="col-sm-2" for="form-control-1">State</label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(x => x.address.StateId, Model.address.StateList, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.address.CountryId, "", new { @class = "text-danger" })
                            </div>

                            <label class="col-sm-2 " for="form-control-1">City</label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(x => x.address.CityId, Model.address.CityList, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.address.CityId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default panel-table">
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="panel-default m-b-10">
                    <div class="panel-heading p-l-0 p-t-0 ">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="m-t-0 m-b-5">Device Information</h4>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <div class="form-group row">
                            <label class="col-sm-2 " for="form-control-1"> Category  </label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(x => x.DeviceCategoryId, Model.CategoryList, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.DeviceCategoryId, "", new { @class = "text-danger" })
                            </div>
                            <label class="col-sm-2 " for="form-control-1"> Brand </label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(x => x.DeviceBrandId, Model.BrandList, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.DeviceBrandId, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group row">
                            <label class="col-sm-2 " for="form-control-1">Modal </label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(x => x.DeviceModalId, Model.ProductList, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.DeviceModalId, "", new { @class = "text-danger" })

                            </div>

                            <label class="col-sm-2 " for="form-control-1"> IMEI/Serial No.  </label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(x => x.DeviceIMEIOne, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.DeviceIMEIOne, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group row">
                            <label class="col-sm-2 " for="form-control-1">IMEI2</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(x => x.DeviceIMEISecond, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.DeviceIMEISecond, "", new { @class = "text-danger" })
                            </div>
                            <label class="col-sm-2 " for="form-control-1"> Device Purchased from </label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(x => x.PurchaseFrom, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.PurchaseFrom, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group row">
                            <label class="col-sm-2 " for="form-control-1">Date OF Purchased</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(x => x.DOP, new { @class = "form-control", @Type = "date" })
                                @Html.ValidationMessageFor(x => x.DOP, "", new { @class = "text-danger" })
                            </div>

                            <label class="col-sm-2 " for="form-control-1"> Invoice/Bill Number </label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(x => x.BillNo, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.BillNo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2" for="form-control-1">Invoice/Bill Amount</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(x => x.BillAmount, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.BillAmount, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <div class="form-group row">
                            <div class="col-sm-2"> <h5 class="m-t-0">Device Condition</h5></div>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(x => x.DeviceConditionId, Model.ConditionList, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.DeviceConditionId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default panel-table">
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="panel-default m-b-10">
                    <div class="panel-heading p-l-0 p-t-0 ">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="m-t-0 m-b-5">Call Information</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2"> <h5 class="m-t-0">Service Type</h5></div>
                    <div class="col-sm-4">
                        @Html.DropDownListFor(x => x.ServiceTypeId, Model.ServiceTypeList, "--Select--", new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.ServiceTypeId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-2"> <h5 class="m-t-0">Service Delivery Type</h5></div>
                    <div class="col-sm-4">
                        @Html.DropDownListFor(x => x.DeliveryTypeId, Model.DeliveryTypeList, "--Select--", new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.DeliveryTypeId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row m-t-5">
                    <div class="col-md-4 col-md-offset-8">
                        <button class="btn btn-danger ladda-button" data-style="expand-right">
                            <span class="ladda-label">Close</span>
                        </button>
                        <button class="btn btn-warning ladda-button" data-style="expand-right">
                            <span class="ladda-label">Reset</span>
                        </button>
                        <button class="btn btn-success ladda-button" data-style="expand-right">
                            <span class="ladda-label">Submit</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

}