@model TogoFogo.Models.ClientData.UploadedExcelModel



<div class="panel panel-default panel-table b-t-0">
    @if (!Model.IsClient)
    {
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-horizontal">
                        <div class="panel-body">
                                <div class="form-group row m-b-0">
                                    <div class="col-sm-2 p-l-0"> <h4>Select Client </h4></div>
                                    <div class="col-sm-5">
                                        @Html.DropDownListFor(x => x.ClientId, Model.ClientList, "--Select--", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.ClientId, "", new { @class = "text-danger" })
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @Html.Partial("~/views/common/_CustomerInfoForm.cshtml", Model)
</div>
@Html.Partial("~/views/common/_CallLogDeviceInfoForm.cshtml", Model)
<div class="panel panel-default panel-table">
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="panel-default m-b-10">
                <div class="panel-heading p-l-0 p-t-0 ">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="m-t-0 m-b-5">Call Information</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3"> <h5 class="m-t-0">Service Type</h5></div>
                <div class="col-sm-9">

                    @foreach (var item in Model.ServiceTypeList)
                    {
                        <label class="custom-control custom-control-primary custom-checkbox">
                            @Html.RadioButtonFor(x => x.ServiceTypeId, item.Value)
                            <span>@item.Text</span>
                        </label>
                    }

                </div>
                @Html.ValidationMessageFor(x => x.ServiceTypeId, "", new { @class = "text-danger" })
            </div>

            <div class="form-group row">
                <div class="col-sm-3"> <h5 class="m-t-0">Service Delivery Type</h5></div>
                <div class="col-sm-9">
                    @foreach (var item in Model.DeliveryTypeList)
                    {
                        <label class="custom-control custom-control-primary custom-checkbox">
                            @Html.RadioButtonFor(x => x.DeliveryTypeId, item.Value)
                            @Html.HiddenFor(x=>item)
                            <span>@item.Text</span>
                        </label>
                    }


                </div>
                @Html.ValidationMessageFor(x => x.DeliveryTypeId, "", new { @class = "text-danger" })


            </div>

            <div class="form-group row m-t-5">
                <div class="col-md-4 col-md-offset-8">
                    <a class="btn btn-danger ladda-button" data-style="expand-right">

                        <span class="ladda-label">Close</span>
                    </a>

                    <button class="btn btn-warning ladda-button" data-style="expand-right" onclick="document.getElementById('submitthis').reset()">
                        <span class="ladda-label">Reset</span>
                    </button>


                    <button class="btn btn-success" type="submit" id="btnSave" >
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

