@model  IEnumerable<TogoFogo.Models.ClientData.UploadedExcelModel>
@{
    var i = 1;
}

<table class="table table-striped table-bordered table-condensed" id="myTable">
    <thead>
        <tr>
            <th>
                #SLN
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CRN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerContactNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerAddressType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerCountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerPincode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceBrand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceSN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceIMEIOne)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceIMEISecond)
            </th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @i
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CRN)

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerContactNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerAddressType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerCountry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerPincode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeviceCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeviceBrand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeviceModel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeviceSN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeviceIMEIOne)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeviceIMEISecond)
        </td>
    </tr>
        i++;
    }

</table>