@model TogoFogo.Models.ClientData.MainClientDataModel
@using TogoFogo.Models
@{
    ViewBag.Title = "Client Data";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@section Styles{
    @Styles.Render("~/Content/css/Gridmvc")
}

<div class="panel-body">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="active">

                    <a href="#tab-5" role="tab" data-toggle="tab">
                        <button type="submit" class="btn btn-success btn-sm">
                            Uploaded data
                        </button>
                    </a>
                </li>
                <li>
                    <a href="#tab-6" role="tab" data-toggle="tab">
                        <button type="submit" class="btn btn-primary btn-sm">Assigned Calls</button>
                    </a>
                </li>
                <li>
                    <a href="#tab-7" role="tab" data-toggle="tab">
                        <button type="submit" class="btn btn-info btn-sm">Log New Calls</button>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="tab-5">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <div class="panel panel-default panel-table b-t-0" id="clientDataPanel">
                                @Html.Partial("_UploadData", Model)
                            </div>
                        </div>
                    </div>
                </div><!--tab-pane-5-->
                <div role="tabpanel" class="tab-pane fade in" id="tab-6">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <div class="panel panel-default panel-table b-t-0" id="callsPanel">

                            </div>
                        </div>
                    </div>
                </div><!--tab-pane-6-->
                <div role="tabpanel" class="tab-pane fade in" id="tab-7">
                    @Html.Partial("_NewCallLogForm", Model.NewCallLog)
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/js/Gridmvc")



    @*<script src="~/Content/js/ui-buttons.min.js"></script>*@

}
