@model TogoFogo.Models.ClientData.MainClientDataModel
@using TogoFogo.Models
@{
    ViewBag.Title = "Client Data";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";

}
@section Styles{
    @Styles.Render("~/Content/css/Gridmvc")
}

<div class="panel-body">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="active">

                    <a href="#tab-5" role="tab" data-toggle="tab">
                        <button type="submit" class="btn btn-success btn-sm">
                            Uploaded data
                        </button>
                    </a>
                </li>
                <li>
                    <a href="#tab-6" role="tab" data-toggle="tab">
                        <button type="submit" class="btn btn-primary btn-sm">Assigned Calls</button>
                    </a>
                </li>
                <li>
                    <a href="#tab-7" role="tab" data-toggle="tab">
                        <button type="submit" class="btn btn-info btn-sm">Log New Calls</button>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="tab-5">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <div class="panel panel-default panel-table b-t-0" id="clientDataPanel">
                                @Html.Partial("_UploadData", Model)
                            </div>
                        </div>
                    </div>
                </div><!--tab-pane-5-->
                <div role="tabpanel" class="tab-pane fade in" id="tab-6">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <div class="panel panel-default panel-table b-t-0" id="callsPanel">
                               @Html.Partial("_TotalCallsList",Model.Calls)
                            </div>
                        </div>
                    </div>
                </div><!--tab-pane-6-->
                <div role="tabpanel" class="tab-pane fade in" id="tab-7">
                    @Html.Partial("_NewCallLogForm", Model.NewCallLog)
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/js/Gridmvc")

    <script>
        function AjaxWithValue(method, ddl, e) {
            var val = e.value;
     
            if (ddl == "address_StateId")
                $("#address_CityId").empty();
            if (ddl == 'DeviceModalId') {

                var brand = $("#DeviceBrandId").val();
                var category = $("#DeviceCategoryId").val();
                if (brand == "" || category == "")
                    return false;
                else
                    val = brand + ',' + category;
            }

            $.ajax({
                type: "GET",
                url: "/DropdownBind/" + method + "?value=" + val,
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    debugger
                    $("#" + ddl).empty();
                  
                    for (var i = 0; i < data.length; i++) {
                        var opt = new Option(data[i].Text, data[i].Value);
                        $('#' + ddl).append(opt);
                    }

                }
            });
        }


        function getCustomer() {
          var mobile=  $("#CustomerContactNumber").val();
           var checked= $("#IsExistingCustomer").prop("checked");
            if (checked) {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("BindCustomerJson", "DropdownBind")',
                    data: {'mobile':  mobile},
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        $('input[name=CustomerTypeId][value="' + data[0].CustomerTypeId + '"]').prop('checked', true);      
                        $("#CustomerName").val(data[0].CustomerName);
                        $("#CustomerAltConNumber").val(data[0].CustomerAltConNumber);
                        $("#CustomerEmail").val(data[0].Email);
                        $('input[name="address.AddressTypeId"][value="' + data[0].AddressTypeId + '"]').prop('checked', true);                       
                        $("#address_NearLocation").val(data[0].NearLocation);
                        $("#address_Address").val(data[0].Address);
                        $("#address_PinNumber").val(data[0].PinNumber);
                        $("#address_CountryId").val(data[0].CountryId);
            
                        var obj = { value: data[0].CountryId }; +
                          AjaxWithValue('BindStateJson', 'address_StateId', obj);                          
                        obj.value = data[0].StateId;
                         AjaxWithValue('BindLocationJson', 'address_CityId', obj)
                        $("#address_StateId").val(data[0].StateId);
                        $("#address_CityId selected:option").val(data[0].CityId);
                    }
                });
            }
            else
                return false;

            }



    </script>

    @*<script src="~/Content/js/ui-buttons.min.js"></script>*@
    <script src="~/Content/js/forms-material-form.min.js"></script>

}
