
@model TogoFogo.Models.GstCategoryModel
@{
    Layout = null;
}
@using (Html.BeginForm("EditGst", "GstCategory", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.GstCategoryId)
    <div class="form-group">
        @Html.LabelFor(model => model.GSTCategory, htmlAttributes: new { @class = "control-label" })
        <div class="input-group">
            <span class="input-group-addon"></span>
            @Html.TextBoxFor(model => model.GSTCategory, new { @class = "form-control", @id = "txtgstcategory" })
            @Html.ValidationMessageFor(model => model.GSTCategory, "", new { @class = "text-danger" })

        </div>
        @*<span id="errormsg"></span>*@
    </div>
    @*<div class="form-group">
            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label" })
            <div class="input-group">
                <span class="input-group-addon"></span>
                @Html.DropDownListFor(model => model.IsActive, new List<SelectListItem>
                              {
                                  new SelectListItem {Text = "Yes", Value = "Yes"},
                                  new SelectListItem {Text = "No", Value = "No"}

                              }, "Select", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
            </div>
        </div>*@
    <div class="form-group">
        @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label" })
        <div class="input-group">
            @Html.CheckBoxFor(model => model.IsActive)
            @*@Html.ValidationMessageFor(model=>model.IsActive,"",new { @class="text-danger"})*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label" })
        <div class="input-group">
            <span class="input-group-addon"></span>
            @Html.TextAreaFor(model => model.Comments, new { @class = "form-control", @cols = 42, @rows = 2 })
            @* @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })*@
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">

            <button type="submit" class="btn btn-success" id="Editbtn">Submit</button>
        </div>
    </div>


    
}



@section scripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")}


