@model  IEnumerable<TogoFogo.Models.GstCategoryModel>
@using TogoFogo.Models
@{
    Layout = null;
    int Count = 0;
}

<div class="panel panel-default panel-table">
    <div class="panel-heading">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-md-6">
                    <h3 class="m-y-0">List Of GST Category</h3>
                </div>
                <div class="col-md-6 ">
                    <div class="pull-right">
                        @*@if (Permissions.Rights.ExcelExport)
        {
            <button class="btn btn-primary excel">Export to Excel</button>
        }*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered table-condensed" id="myTable">
        <thead>
            <tr>
                <th> @Html.DisplayName("Serial No")</th>
                <th>
                    @Html.DisplayNameFor(model => model.GSTCategory)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Comments)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.ModifyBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifyDate)
                </th>

                <th>Actions</th>
            </tr>
        </thead>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(Count = Count + 1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GSTCategory)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.IsActive)*@
                    @(item.IsActive == true ? "Active" : "InActive")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CRBY)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.MODBY)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifyDate)
                </td>

                <td style="display: inline-flex;">
                    @* @Url.Action("#Editmodel", new { id = item.BrandId })*@
                    @if (Permissions.Rights.Edit)
                    {
                        <a href="#Editmodel" data-toggle="modal" class="btn btn-info btnSize " onclick="EditGstCategory(@item.GstCategoryId)">Edit</a>
                    }
                    @* @if (Permissions.Rights.History)
                    {
                        <a href="#Historymodel" data-toggle="modal" class="btn btn-success btnSize ">History</a>
                    }
                    @if (Permissions.Rights.Delete)
                    {
                        <input type="button" value="Delete" class="btn btn-danger btnSize " />
                    }*@
                </td>
            </tr>

        }
    </table>
            
        </div>
