@model IEnumerable<TogoFogo.Models.GstCategoryModel>
@{
    Layout = null;
}


<table class="table" id="myTable">
    <thead>
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.GSTCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifyBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifyDate)
        </th>
       
        <th>Actions</th>
    </tr>
    </thead>
    

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.GSTCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CRBY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MODBY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifyDate)
            </td>
          
            <td style="display: inline-flex;">
                @* @Url.Action("#Editmodel", new { id = item.BrandId })*@
                <a href="#Editmodel" data-toggle="modal" class="btn btn-info btnSize "onclick="EditGstCategory(@item.GstCategoryId)">Edit</a>
                <a href="#Historymodel" data-toggle="modal" class="btn btn-success btnSize ">History</a>
                <input type="button" value="Delete" class="btn btn-danger btnSize "/>
            </td>
        </tr>
    }

</table>
