
@model TogoFogo.Models.ManageCourierApiModel
@{
	Layout = null;
}

@using (Html.BeginForm("EditCourierApi", "ManageCourierApi", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	@Html.HiddenFor(m => m.API_ID)
	<div class="row">
		<div class="col-md-10 col-sm-10 col-lg-10">
			<span style="font-size: 17px;">Select Courier</span>
			<div class="row" style="padding-bottom: 5px;">
				@Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
				<div class="col-md-5 col-sm-5 col-xs-12">
					@Html.DropDownListFor(model => model.Country, null, htmlAttributes: new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="row" style="padding-bottom: 5px;">
				@Html.LabelFor(model => model.Courier, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
				<div class="col-md-5 col-sm-5 col-xs-12">
					@Html.DropDownListFor(model => model.Courier, null, htmlAttributes: new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.Courier, "", new { @class = "text-danger" })
				</div>
			</div>


			<span style="font-size: 17px;">Courier API Details</span>
			<div class="row" style="padding-bottom: 5px;">
				@Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
				<div class="col-md-5 col-sm-5 col-xs-12">
					@Html.TextBoxFor(model => model.Username, htmlAttributes: new { @class = "form-control", placeholder = "" })
					@Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="row" style="padding-bottom: 5px;">
				@Html.LabelFor(model => model.Passwrd, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
				<div class="col-md-5 col-sm-5 col-xs-12">
					@Html.TextBoxFor(model => model.Passwrd, htmlAttributes: new { @class = "form-control", placeholder = "" })
					@Html.ValidationMessageFor(model => model.Passwrd, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="row" style="padding-bottom: 5px;">
				@Html.LabelFor(model => model.AppVersion, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
				<div class="col-md-5 col-sm-5 col-xs-12">
					@Html.TextBoxFor(model => model.AppVersion, htmlAttributes: new { @class = "form-control", placeholder = "" })
					@Html.ValidationMessageFor(model => model.AppVersion, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="row" style="padding-bottom: 5px;">
				@Html.LabelFor(model => model.AccountNo, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
				<div class="col-md-5 col-sm-5 col-xs-12">
					@Html.TextBoxFor(model => model.AccountNo, htmlAttributes: new { @class = "form-control", placeholder = "" })
					@Html.ValidationMessageFor(model => model.AccountNo, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="row" style="padding-bottom: 5px;">
				@Html.LabelFor(model => model.AccountPIN, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
				<div class="col-md-5 col-sm-5 col-xs-12">
					@Html.TextBoxFor(model => model.AccountPIN, htmlAttributes: new { @class = "form-control", placeholder = "" })
					@Html.ValidationMessageFor(model => model.AccountPIN, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="row" style="padding-bottom: 5px;">
				@Html.LabelFor(model => model.AccountEntity, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
				<div class="col-md-5 col-sm-5 col-xs-12">
					@Html.TextBoxFor(model => model.AccountEntity, htmlAttributes: new { @class = "form-control", placeholder = "" })
					@Html.ValidationMessageFor(model => model.AccountEntity, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="row" style="padding-bottom: 5px;">
				@Html.LabelFor(model => model.AccountCountryCode, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
				<div class="col-md-5 col-sm-5 col-xs-12">
					@Html.TextBoxFor(model => model.AccountCountryCode, htmlAttributes: new { @class = "form-control", placeholder = "" })
					@Html.ValidationMessageFor(model => model.AccountCountryCode, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="row" style="padding-bottom: 5px;">
				@Html.LabelFor(model => model.IsLargePacket, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
				<div class="col-md-5 col-sm-5 col-xs-12">
					@Html.DropDownListFor(model => model.IsLargePacket, new List<SelectListItem>
					{
						new SelectListItem {Text = "Yes", Value = "Yes"},
						new SelectListItem {Text = "No", Value = "No"},

					}, "Select", new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.IsLargePacket, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="row" style="padding-bottom: 5px;">
				@Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
				<div class="col-md-5 col-sm-5 col-xs-12">
					@Html.DropDownListFor(model => model.IsActive, new List<SelectListItem>
					{
						new SelectListItem {Text = "Yes", Value = "Yes"},
						new SelectListItem {Text = "No", Value = "No"}

					}, "Select", new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })

				</div>
			</div>
			<div class="row" style="padding-bottom: 5px;">
				@Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
				<div class="col-md-5 col-sm-5 col-xs-12">
					@Html.TextBoxFor(model => model.Comments, null, htmlAttributes: new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })

				</div>
			</div>
			<div class="ln_solid"></div>
			<div class="form-group">
				<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">

					<button type="submit" class="btn btn-success" id="btnNotify">Submit</button>
				</div>
			</div>
		</div>

		@*<div class="col-md-2" style="margin-top: 40px;">
				@Model.CourierImage!==null?"<img id="blah" src="@Url.Content(Model.CourierImage)" width="200" height="200" alt="your image" />":""

			</div>*@
	</div>
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>