
@model TogoFogo.Models.GstTaxModel
@{
    Layout = null;
}
@using (Html.BeginForm("AddGst", "GSTTax", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="row">
        <div class="col-md-6">

            <div class="row" style="padding-bottom: 5px;">
                @Html.LabelFor(model => model.CountryId, htmlAttributes: new { @class = "col-md-4  col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.DropDownListFor(model => model.CountryId, Model.CountryList, new { @class = "form-control", onchange = "AjaxWithValue('BindStateJson', 'State', this)" })
                    @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px;">
                @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "col-md-4 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.DropDownListFor(model => model.State, Model.StateList, new { @class = "form-control", id = "State" })
                    @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row" style="padding-bottom: 5px;">
                @Html.LabelFor(model => model.Applicable_Tax, htmlAttributes: new { @class = "col-md-4 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.DropDownListFor(model => model.Applicable_Tax, Model.ApplicableTaxTypeList, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Applicable_Tax, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="row" style="padding-bottom: 5px;">
            @Html.LabelFor(model => model.Applicable_Tax, htmlAttributes: new { @class = "col-md-4  col-xs-12" })
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.DropDownListFor(model => model.Applicable_Tax, new List<SelectListItem>
                {
                    new SelectListItem {Text = "Indian GST", Value = "Indian GST"},
                    new SelectListItem {Text = "GST", Value = "GST"}

                }, "Select", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Applicable_Tax, "", new { @class = "text-danger" })
            </div>
        </div>*@
            <div class="row" style="padding-bottom: 5px;">
                @Html.LabelFor(model => model.GstCategoryId, htmlAttributes: new { @class = "col-md-4  col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.DropDownListFor(model => model.GstCategoryId, Model.GstcategoryList, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.GstCategoryId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px;">
                @Html.LabelFor(model => model.Device_Cat, htmlAttributes: new { @class = "col-md-4  col-xs-12", })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.DropDownListFor(model => model.Device_Cat, Model.DeviceCategoryList, new { @class = "form-control", onchange = "AjaxWithValue('BindSubCategoryJson', 'Device_SubCat', this)" })
                    @Html.ValidationMessageFor(model => model.Device_Cat, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px;">
                @Html.LabelFor(model => model.Device_SubCat, htmlAttributes: new { @class = "col-md-4  col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.DropDownListFor(model => model.Device_SubCat, Model.DeviceSubCategoryList, new { @class = "form-control",id= "Device_SubCat" })
                    @Html.ValidationMessageFor(model => model.Device_SubCat, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px;">
                @Html.LabelFor(model => model.GstHeading, htmlAttributes: new { @class = "col-md-4  col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.GstHeading, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.GstHeading, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px;">
                @Html.LabelFor(model => model.Gst_HSNCode_Id, htmlAttributes: new { @class = "col-md-4  col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.DropDownListFor(model => model.Gst_HSNCode_Id, Model.GstHSNCodeList, new { @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.Gst_HSNCode_Id, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px;">
                @Html.LabelFor(model => model.CTH_NumberId, htmlAttributes: new { @class = "col-md-4  col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.DropDownListFor(model => model.CTH_NumberId, null, "Select", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CTH_NumberId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px;">
                @Html.LabelFor(model => model.SACId, htmlAttributes: new { @class = "col-md-4  col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.DropDownListFor(model => model.SACId, null, "Select", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SACId, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
        <div class="col-md-6">


            <div class="row" style="padding-bottom: 5px;">
                @Html.LabelFor(model => model.Product_Sale_Range, htmlAttributes: new { @class = "col-md-3  col-xs-12" })
                <div class="col-md-7 col-sm-7 col-xs-12" style="display: inline-flex">
                    @Html.LabelFor(model => model.Product_Sale_From, htmlAttributes: new { @class = "col-md-4  col-xs-12" })
                    @Html.TextBoxFor(model => model.Product_Sale_From, new { @class = "form-control" })
                    @Html.LabelFor(model => model.Product_Sale_TO, htmlAttributes: new { @class = "col-md-4  col-xs-12" })
                    @Html.TextBoxFor(model => model.Product_Sale_TO, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Product_Sale_Range, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row" style="padding-bottom: 5px;">
                @Html.LabelFor(model => model.CGST, htmlAttributes: new { @class = "col-md-4  col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.CGST, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CGST, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px;">
                @Html.LabelFor(model => model.SGST, htmlAttributes: new { @class = "col-md-4  col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.SGST, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SGST, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px;">
                @Html.LabelFor(model => model.IGST, htmlAttributes: new { @class = "col-md-4  col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.IGST, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IGST, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px;">
                @Html.LabelFor(model => model.Product_Cat, htmlAttributes: new { @class = "col-md-4  col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.Product_Cat, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Product_Cat, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px;">
                @Html.LabelFor(model => model.Product_SubCat, htmlAttributes: new { @class = "col-md-4  col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.Product_SubCat, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Product_SubCat, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px;">
                @Html.LabelFor(model => model.Description_Goods, htmlAttributes: new { @class = "col-md-4  col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.Description_Goods, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Description_Goods, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px;">
                @Html.LabelFor(model => model.Gst_Applicable_date, htmlAttributes: new { @class = "col-md-4  col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.Gst_Applicable_date, htmlAttributes: new { @class = "form-control", id = "datepicker" })
                    @Html.ValidationMessageFor(model => model.Gst_Applicable_date, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row" style="padding-bottom: 5px;">
                @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "col-md-4  col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.CheckBoxFor(model => model.IsActive, new { @checked = "checked" })

                </div>
            </div>
            @*<div class="row" style="padding-bottom: 5px;">
            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "col-md-4  col-xs-12" })
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.DropDownListFor(model => model.IsActive, new List<SelectListItem>
            {
                new SelectListItem {Text = "Yes", Value = "Yes"},
                new SelectListItem {Text = "No", Value = "No"}

            }, "Select", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
            </div>
        </div>*@
            <div class="row" style="padding-bottom: 5px;">
                @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "col-md-4  col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.Comments, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


    </div>
    <div class="row ">
        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                @*<button class="btn btn-primary" type="button">Cancel</button>*@
                <button class="btn btn-primary" type="reset">Reset</button>
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
    </div>

}