@model IEnumerable<TogoFogo.Models.GstTaxModel>

@{
    Layout = null;
}

<table class="table table-striped table-bordered table-condensed" id="myTable">
	<thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CountryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StateId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Applicable_Tax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GstCategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Device_Cat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Device_SubCat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GstHeading)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gst_HSNCode_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CTH_NumberId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SACId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product_Sale_Range)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CGST)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SGST)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IGST)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product_Cat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product_SubCat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description_Goods)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gst_Applicable_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifyBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifyDate)
            </th>
            <th></th>
        </tr>
</thead>
@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.CountryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StateId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Applicable_Tax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GstCategoryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Device_Cat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Device_SubCat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GstHeading)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gst_HSNCode_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CTH_NumberId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SACId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product_Sale_Range)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CGST)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SGST)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IGST)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product_Cat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product_SubCat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description_Goods)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gst_Applicable_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifyBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifyDate)
        </td>
        <td style="display: inline-flex;">
            @* @Url.Action("#Editmodel", new { id = item.BrandId })*@
            <a href="#Editmodel" data-toggle="modal" class="btn btn-info btnSize " onclick="EditGstTax(@item.GstTaxId)">Edit</a>
            <a href="#Historymodel" data-toggle="modal" class="btn btn-success btnSize ">History</a>
            <input type="button" value="Delete" class="btn btn-danger btnSize " />
        </td>
    </tr>
}

</table>
