@model doorserve.Models.SMSGatewayModel


@Html.HiddenFor(x => x.GatewayId)
@Html.HiddenFor(x => x.GatewayTypeId)

@if (Model.IsAdmin)
{
    <div class="row form-group">
        <div class="col-md-12">
            <label class="control-label" for="form-control-9">Select Company</label>
            @Html.DropDownListFor(model => model.CompanyId, Model.CompanyList, "Select", new { @class = "form-control input-md", @placeholder = "Gateway Name" })
            @Html.ValidationMessageFor(model => model.CompanyId, "", new { @class = "text-danger" })
        </div>

    </div>
}
<div class="row form-group">
    <div class="col-md-12">
        <label class="control-label" for="form-control-9">SMS Gateway Name<span class="error-alert">*</span></label>
        @Html.TextBoxFor(model => model.GatewayName, new { @class = "form-control input-md", @placeholder = "Gateway Name" })
        @Html.ValidationMessageFor(model => model.GatewayName, "", new { @class = "text-danger" })
    </div>

</div>



<div class="row form-group">
    <div class="col-sm-12 ">
        <label class="control-label" for="form-control-9">URL Setting<span class="error-alert">*</span></label>
        @Html.TextAreaFor(model => model.URL, new { @class = "form-control input-md", @placeholder = "URL" })
        @Html.ValidationMessageFor(model => model.URL, "", new { @class = "text-danger" })
    </div>
</div>


<div class="row form-group">
    <div class="col-md-12">
        <label class="control-label" for="form-control-9">Trans Api key<span class="error-alert">*</span></label>
        @Html.TextBoxFor(model => model.TransApikey, new { @class = "form-control input-md", @placeholder = "Trans Api key" })
        @Html.ValidationMessageFor(model => model.TransApikey, "", new { @class = "text-danger" })
    </div>

</div>


<div class="row form-group">
    <div class="col-md-12">
        <label class="control-label" for="form-control-9">OTP Api key</label>
        @Html.PasswordFor(model => model.OTPApikey, new { @class = "form-control input-md", @placeholder = "OTP Api key" })
    </div>

</div>


<div class="row form-group">
    <div class="col-md-12">
        <label class="control-label" for="form-control-9">Success Message<span class="error-alert">*</span></label>
        @Html.TextBoxFor(model => model.SuccessMessage, new { @class = "form-control input-md", @placeholder = "Success Message" })
        @Html.ValidationMessageFor(model => model.SuccessMessage, "", new { @class = "text-danger" })
    </div>

</div>

<div class="row form-group">
    <div class="col-md-12"><label class=" control-label" for="form-control-9">Is Active</label></div>
    <div class="col-md-12">
        @Html.CheckBoxFor(x => x.IsActive, new { @class = "custom-control custom-control-primary custom-checkbox active" })


    </div>

</div>


<div class="row form-group">
    <div class="col-md-12">
        <label class="control-label" for="form-control-9">OTP Sender</label>

        @Html.DropDownListFor(x => x.OTPSender, Model.GatewayList, "Select", new { @class = "form-control" })
    </div>

</div>

<div class="row">
    <div class="col-md-12 ">
        <button class="btn btn-primary">
            Reset
        </button>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>





