@model IEnumerable<TogoFogo.Models.ReportsModelTable>
@{ 
    Layout = null;
}
@*<input type="button" class="btn btn-sm btn-primary excel btn-success btnSize pull-right" value="">*@

@*<input type="button" class="btn btn-sm btn-primary btn-success btnSize pull-right" value="Export" onclick="@("window.location.href='" + @Url.Action("DownloadReport", "Reports",new { }) + "'");" />*@
<table class="table table-striped table-bordered table-condensed text-nowrap display" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile_No)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PinCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entry_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Process_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProviderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TRC_NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourierName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cust_Add)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cust_City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cust_State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentStatus)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Device)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CC_NO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProblemReported)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CallStatusName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CallRequestRejectReason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SchedulePickupDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReversePickUpDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EngineerVistDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email_SMS_To_Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceCharge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpareCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimatedCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceEngineerAction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RAWB_ReversePickupDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RAWB_MessageToCustomer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RAWB_Remarks)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile_No)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PinCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Entry_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Process_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProviderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TRC_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourierName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cust_Add)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cust_City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cust_State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentStatus)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Device)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CC_NO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProblemReported)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CallStatusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CallRequestRejectReason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SchedulePickupDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReversePickUpDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EngineerVistDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email_SMS_To_Customer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceCharge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpareCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceEngineerAction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RAWB_ReversePickupDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RAWB_MessageToCustomer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RAWB_Remarks)
            </td>
        </tr>
        }

    </tbody>

   
</table>
