@model doorserve.Models.TemplatePartModel


@Html.HiddenFor(x => x.TemplatePartId)

<div class="row form-group">
    <div class="col-md-12">
        <label class="control-label" for="form-control-9">Template Part Name<span class="error-alert">*</span></label>
        @Html.TextBoxFor(model => model.TemplatePartName, new { @class = "form-control input-md", @placeholder = "Template Part Name" })
        @Html.ValidationMessageFor(model => model.TemplatePartName, "", new { @class = "text-danger" })
    </div>

</div>
<div class="row form-group">
    <div class="col-md-12"><label class=" control-label" for="form-control-9">Is Active</label></div>
    <div class="col-md-12">
        @Html.CheckBoxFor(x => x.IsActive, new { @class = "custom-control custom-control-primary custom-checkbox active" })


    </div>

</div>
<div class="row form-group">
    <div class="col-sm-12 ">
        <label class="control-label" for="form-control-9">HTMLPart<span class="error-alert">*</span></p></label>
        @Html.TextAreaFor(x=>x.HTMLPart, new {@id= "editor1" })
        <script>
            CKEDITOR.replace('editor1', {
                height: 350,
                extraPlugins: 'colorbutton,colordialog'
            });
        </script>
    </div>
</div>
<div class="row form-group">
    <div class="col-md-12">
        <label class="control-label" for="form-control-9">Plain Text Part<span class="error-alert">*</span></label>
        @Html.TextBoxFor(model => model.PlainTextPart, new { @class = "form-control input-md", @placeholder = "Plain Text Part" })
        @Html.ValidationMessageFor(model => model.PlainTextPart, "", new { @class = "text-danger" })
    </div>

</div>
<div class="row form-group">
    <div class="col-md-12 ">

        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>