@model doorserve.Models.ProcessModel

@if (Model.IsAdmin)
{
    <div class="row" style="padding-bottom: 5px;">
        @Html.LabelFor(model => model.CompanyId, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.DropDownListFor(model => model.CompanyId, Model.CompanyList, new { @class = "form-control"})
            @Html.ValidationMessageFor(model => model.CompanyId, "", new { @class = "text-denger" })
        </div>
    </div>
}
<div class="row" style="padding-bottom: 5px;">
    @Html.LabelFor(model => model.ProcessName, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.ProcessName, new { @class = "form-control", @cols = 42, @rows = 2 })
        @Html.ValidationMessageFor(model => model.ProcessName,"", new { @class = "text-denger" })
    </div>
</div>
<div class="row" style="padding-bottom: 5px;">
    @Html.LabelFor(model => model.ProcessOwner, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(model => model.ProcessOwner, new { @class = "form-control", @cols = 42, @rows = 2 })
        @Html.ValidationMessageFor(model => model.ProcessOwner, "", new { @class = "text-denger" })
    </div>
</div>
<div class="row" style="padding-bottom: 5px;">
    @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control", @cols = 42, @rows = 2 })
        @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-denger" })
    </div>
</div>
<div class="row" style="padding-bottom: 5px;">
    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.CheckBoxFor(model => model.IsActive, new { @checked = "checked" })
        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-denger" })
    </div>
</div>
