@model doorserve.Models.ClientData.MainClientDataModel
@using doorserve.Models
@{
    ViewBag.Title = "Client Data";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";

}


<div class="panel-body">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">

                @if (Model.tab_index == "tab-5")
                {
                    @:<li class="active">
                    }
                    else
                    {
                    @:<li>
                    }
                <a href="#tab-5" role="tab" data-toggle="tab">
                    <button type="submit" class="btn btn-success btn-sm">
                        Uploaded data
                    </button>
                </a>
            </li>

            @if (Model.tab_index == "tab-6")
            {
                @:<li class="active">
                }
                else
                {                   
                @:<li>
                }
            <a href="#tab-6" role="tab" data-toggle="tab">
                <button type="submit" class="btn btn-primary btn-sm">Assigned Calls</button>
            </a>
            </li>
            @if (Model.tab_index == "tab-7")
            {
                @:<li class="active">
                }
                else
                {                    
                @:<li>
                }
            <a href="#tab-7" role="tab" data-toggle="tab">
                <button type="submit" class="btn btn-info btn-sm">Log New Calls</button>
            </a>
            </li>
            </ul>
            <div class="tab-content">
                @if (Model.tab_index == "tab-5")
                {
                    @:<div role="tabpanel" class="tab-pane fade in active" id="tab-5">
}
else
{
    @:<div role="tabpanel" class="tab-pane fade in" id="tab-5">
    }
<div class="row">
    <div class="col-md-12 form-group">
        <div class="panel panel-default panel-table b-t-0" id="clientDataPanel">
            @Html.Partial("_UploadData")
        </div>
    </div>
</div>
</div><!--tab-pane-5-->
@if (Model.tab_index == "tab-6")
{
    @:<div role="tabpanel" class="tab-pane fade in active" id="tab-6">
}
else
{
    @:<div role="tabpanel" class="tab-pane fade in" id="tab-6">
    }
<div class="row">
    <div class="col-md-12 form-group">
        <div class="panel panel-default panel-table b-t-0" id="callsPanel">
            @Html.Partial("_TotalCallsList")
        </div>
    </div>
</div>
</div><!--tab-pane-6-->
@if (Model.tab_index == "tab-6")
{
    @:<div role="tabpanel" class="tab-pane fade in active" id="tab-7">
    }
    else
    {
        @:<div role="tabpanel" class="tab-pane fade in" id="tab-7">
        }
@using (Html.BeginForm("NewCallLog", "ClientData", FormMethod.Post, new { @id = "submitthis" }))
{

    @Html.Partial("_NewCallLogForm", Model.NewCallLog)
}
</div>
</div>
</div>
</div>
</div>
<div class="modal fade" id="Editmodel" tabindex="-1" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Call History</h4>
            </div>
            <div class="modal-body" id="Info">
            </div>
        </div>

    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $("#DivprbObserved").hide();
        $("#ProblemInfo").hide();


        function AjaxWithValue(method, ddl, e) {
            var val = e.value;
            var refval = e.cvalue;
            if (ddl == "StateId")
                $("#CityId").empty();
            if (ddl == 'DeviceModalId') {

                var brand = $("#DeviceBrandId").val();
                var category = $("#DeviceSubCategoryId").val();
                if (brand == "" || category == "")
                    return false;
                else
                    val = brand + ',' + category;
            }

            $.ajax({
                type: "GET",
                url: "/DropdownBind/" + method + "?value=" + val,
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    debugger
                    $("#" + ddl).empty();

                    for (var i = 0; i < data.length; i++) {
                        var opt = new Option(data[i].Text, data[i].Value);
                        $('#' + ddl).append(opt);
                    }
                    if (refval != null || refval != undefined) {
                        $('#' + ddl).val(refval);
                    }


                }
            });
        }

        function GetDeviceDetails() {

            var sn = $("#DeviceSn").val();
            var IMEI = $("#DeviceIMEIOne").val();
            var CatId = $("#DeviceCategoryId").val();
            if (CatId != 0 && (sn.length != 0 || IMEI.length != 0)) {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetRepeatCall", "ClientData")',
                    data: { 'DeviceSN': sn, 'IMEI': IMEI, 'CategoryId': CatId },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    async: true,
                    success: function (data) {

                        if (data!='Not Found') {
                            console.log(data);
                            $("#PrvCall").show();
                            var CallDate = new Date(parseInt(data.CallDate.substr(6)));
                            var month = CallDate.getMonth() + 1;
                            var ProblemDate = new Date(parseInt(data.ProblemCloseDate.substr(6)));
                            var ExpiryDate = new Date(parseInt(data.ExpiryDate.substr(6)));
                            $("#prvCallId").text(data.CallId);
                            $("#prvCallId").val(data.CallId);
                            $("#prvCallDate").val(CallDate.getDate() + '/' + month + '/' + CallDate.getFullYear());
                            $("#PrvProblemDescription").val(data.ProblemDescription);
                             month = ProblemDate.getMonth() + 1;
                            $("#ProblemCloseDate").val(ProblemDate.getDate() + '/' + month+ '/' + ProblemDate.getFullYear());
                            month = ExpiryDate.getMonth() + 1;
                            $("#ExpiryDate").val(ExpiryDate.getDate() + '/'+ month+ '/' + ExpiryDate.getFullYear());
                            $("#WStatus").val(data.Status);
                            $("#IsRepeat").text("Yes");
                        }
                    }
                });
            }

        }
        function getCustomer() {
            var mobile = $("#CustomerContactNumber").val();
            $.ajax({
                type: "GET",
                url: '@Url.Action("BindCustomerJson", "DropdownBind")',
                data: { 'mobile': mobile },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async:true,
                success: function (data) {

                    console.log(data);
                    if (data[0] != undefined) {
                        $('input[name=CustomerTypeId][value="' + data[0].CustomerTypeId + '"]').prop('checked', true);
                        $("#CustomerName").val(data[0].CustomerName);
                        $("#CustomerAltConNumber").val(data[0].CustomerAltConNumber);
                        $("#CustomerEmail").val(data[0].Email);
                        $("#CustomerId").val(data[0].customerId);
                        $('input[name="AddressTypeId"][value="' + data[0].AddressTypeId + '"]').prop('checked', true);
                        $("#NearLocation").val(data[0].NearLocation);
                        $("#Address").val(data[0].Address);
                        $("#PinCode").val(data[0].PinNumber);
                        $("#CountryId").val(data[0].CountryId);
                        $("#IsExistingCustomer").prop("checked", true);
                        $("#StateId").val(data[0].StateId);
                        var obj = { value: data[0].PinNumber, Other: data[0].LocationId };
                        AjaxWithValue('BindLocationByPinCodeJson', 'LocationId', obj);
                    }
                }
            });
        }
            $('input[type=radio][name="ServiceTypeId"]').change(function () {
                //console.log($(this).val());

                if ($(this).val() == 7) {

                    $("#ProblemInfo").hide();
                }
                else {
                    $("#ProblemInfo").show();
                    if ($("#prvCallId").text().length != 0)
                        $("#IsRepeat").text("Yes");
                    else
                        $("#IsRepeat").text("No");
                }

        });
           $('a[data-toggle="tab"]').click(function (e) {
            if (this.hash == '#tab-3')
                $("#tabIndex").val('C');
            else if (this.hash == '#tab-2')
                    $("#tabIndex").val('O');
            else if (this.hash == '#tab-5')
                 $("#tabIndex").val('F');
            else
                 $("#tabIndex").val('D');

        });


        $("#ServiceTypeId").change(function () {
            if ($(this).val() == 7) {
                $("#Repair1").hide();
                $("#Installtion1").show();

            }
            else if ($(this).val() == 8)
            {
                $("#Installtion1").hide();
                $("#Repair1").show();

            }

        });
          function GetHistory(DeviceId) {

            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetCallHistory","ClientData")',
                contentType: 'application/json; charset=utf-8',
                cache: false,
                data: {"DeviceId": DeviceId},
                success: function (response) {

                    $("#Info").html(response);
                },
                error: function (e) {
                    console.log(e);
                    $(".submitbutton").attr("disabled", false);
                    alert("Something went wrong...");

                },
                complete: function () {

                    $(".submitbutton").attr("disabled", false);
                }
            });
        }
    </script>
}
