@model doorserve.Models.CategoryViewModel
@using doorserve.Models
@{
    ViewBag.Title = "DeviceSubCategory";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div class="panel-heading">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-md-6">
                <h3 class="m-y-0">Add Sub Category</h3>
            </div>
            <div class="col-md-6 ">
                <div class="pull-right">
                    @if (Permissions.Rights.ExcelExport)
                    {
                        <button class="btn btn-primary excel" onclick="tableExport('Device SubCategory')">Export to Excel</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel-body">
    @if (Permissions.Rights.Create)
    {
        @Html.Action("AddSubCategory", "Category")
    }
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    @*<h2>List Of Sub Category</h2>*@
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content" style="overflow-x: scroll;">
                    @if (Permissions.Rights.View)
                    {
                        @Html.Action("DeviceSubCategoryTable", "Category")
                    }
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="Editmodel" tabindex="-1" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Sub Category</h4>
            </div>

            <div class="modal-body" id="Info"></div>
        </div>

    </div>
</div>

@if (Model.AddSubCategory != null)
{
    <div id="snackbar">@Model.AddSubCategory</div>
}
@if (Model.EditSubCategory != null)
{
    <div id="snackbar">@Model.EditSubCategory</div>
}
@*@if (ViewBag.SortOrder != null)
    {

        <script>
            document.getElementById('SortOrder').value = '@ViewBag.SortOrder';

        </script>
    }*@
@if (Model.AddSubCategory != null || Model.EditSubCategory != null)
{
    <script>

        var x = document.getElementById("snackbar");
        x.className = "show";
        setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);

    </script>
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function EditSubCategory(SubCatId) {
            $.ajax({
                type: 'GET',
                url: "/Category/EditDeviceSubCategory?SubCatId=" + SubCatId,
                contentType: 'application/json; charset=utf-8',
                cache: false,
                success: function (response) {
                    $("#Info").html(response);
                },
                error: function (e) {
                    console.log(e);
                    $(".submitbutton").attr("disabled", false);
                    alert("Something went wrong...");

                },
                complete: function () {

                    $(".submitbutton").attr("disabled", false);
                }
            });
        }

    </script>
}
