@model doorserve.Models.ClientData.UploadedExcelModel
<div class="panel panel-default panel-table b-r-0 b-l-0">
    <div class="panel-body">
        <h4 class="m-t-0 m-b-25 p-t-10">Device Information :</h4>
        <div class="row m-t-5">
            <div class="form-material">
                <div class="col-sm-6 col-md-3">
                    <div class="form-group  has-value">
                        @Html.DropDownListFor(x => x.DeviceCategoryId, Model.CategoryList,"--Select--", new { @class = "form-control", onchange = "AjaxWithValue('BindSubCategoryJson', 'DeviceSubCategoryId', this)" })
                        @Html.ValidationMessageFor(x => x.DeviceCategoryId, "", new { @class = "text-danger" })
                        <label class="floating-label t-0">Category</label>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="form-group  has-value">
                        @Html.DropDownListFor(x => x.DeviceSubCategoryId, Model.SubCategoryList, new { @class = "form-control", onchange = "AjaxWithValue('BindModelJson', 'DeviceModalId', this)" })
                        @Html.ValidationMessageFor(x => x.DeviceCategoryId, "", new { @class = "text-danger" })
                        <label class="floating-label t-0">Sub Category</label>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="form-group  has-value">
                        @Html.DropDownListFor(x => x.DeviceBrandId, Model.BrandList, new { @class = "form-control", onchange = "AjaxWithValue('BindModelJson', 'DeviceModalId', this)" })
                        @Html.ValidationMessageFor(x => x.DeviceBrandId, "", new { @class = "text-danger" })
                        <label class="floating-label t-0">Brand</label>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="form-group  has-value">
                        @Html.DropDownListFor(x => x.DeviceModalId, Model.ProductList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.DeviceModalId, "", new { @class = "text-danger" })
                        <label class="floating-label  t-0">Modal</label>
                    </div>
                </div>


            </div>
        </div>



        <div class="row">
            <div class="form-material">


                <div class="col-sm-6 col-md-3">
                    <div class="form-group has-value">
                        @Html.TextBoxFor(x => x.DeviceModelNo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.DeviceModelNo, "", new { @class = "text-danger" })
                        <label class="floating-label">Model Number</label>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="form-group has-value">
                        @Html.TextBoxFor(x => x.DeviceSn, new { @class = "form-control",onchange="GetDeviceDetails()" })
                        @Html.ValidationMessageFor(x => x.DeviceSn, "", new { @class = "text-danger" })
                        <label class="floating-label">Serial Number</label>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="form-group has-value">
                        @Html.TextBoxFor(x => x.DeviceIMEIOne, new { @class = "form-control", onchange = "GetDeviceDetails()" })
                        @Html.ValidationMessageFor(x => x.DeviceIMEIOne, "", new { @class = "text-danger" })
                        <label class="floating-label">IMEI One</label>                        
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="form-group has-value">

                        @Html.TextBoxFor(x => x.DeviceIMEISecond, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.DeviceIMEISecond, "", new { @class = "text-danger" })
                        <label class="floating-label">IMEI Two</label>
                        <div id="SameIMEI" style="color:red"></div>
                    </div>
                </div>           
            </div>
        </div>
        <div class="row">
            <div class="form-material">
                <div class="col-sm-6 col-md-3">
                    <div class="form-group has-value">
                        @Html.TextBoxFor(x => x.PurchaseFrom, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.PurchaseFrom, "", new { @class = "text-danger" })
                        <label class="floating-label">Device Purchased From</label>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="form-group">
                        @Html.TextBoxFor(x => x.DOP ,"{0:dd/MM/yyyy}",   new { @class = "form-control  datepicker-d",@readOnly="True"  })
                        @Html.ValidationMessageFor(x => x.DOP, "", new { @class = "text-danger" })
                        <label class="floating-label t-0">Date Of Purchased</label>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="form-group">
                        @Html.TextBoxFor(x => x.BillNo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.BillNo, "", new { @class = "text-danger" })
                        <label class="floating-label t-0">Invoice/Bill Number</label>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="form-group has-value">
                        @Html.TextBoxFor(x => x.BillAmount, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.BillAmount, "", new { @class = "text-danger" })
                        <label class="floating-label">Invoice/Bill Amount</label>
                    </div>
                </div>




            </div>
        </div>
        <div class="row">
            <div class="form-material">

                <div class="col-sm-2"> <h5 class="m-t-0">Device Condition</h5></div>
                <div class="col-sm-8">

                    @foreach (var item in Model.ConditionList)
                    {
                        <label class="custom-control custom-control-primary custom-checkbox p-l-0">
                            @Html.RadioButtonFor(x => x.DeviceConditionId, item.Value)
                            <span>@item.Text</span>
                        </label>
                    }
                    <div class="row">
                        <div class="col-md-12">
                            @Html.ValidationMessageFor(x => x.DeviceConditionId, "", new { @class = "text-danger" })

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
         

