@model IEnumerable<doorserve.Models.ContactPersonModel>
@using doorserve.Models
@{
    Layout = null;
    int Count = 1;
}

<div class="row">
    <div class="col-md-12" style="overflow-x: scroll;">
        <table class="table table-striped table-bordered table-condensed" id="myTable2">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("#SLN")
                    </th>
                    <th>
                        @Html.DisplayName("First Name")
                    </th>
                    <th>
                        @Html.DisplayName("Last Name")
                    </th>

                    <th>
                        @Html.DisplayName("Mobile Number")
                    </th>
                    <th>
                        @Html.DisplayName("Email")
                    </th>
                    <th>
                        @Html.DisplayName("Address")
                    </th>
                    <th>
                        @Html.DisplayName("City")
                    </th>
                    <th>
                        @Html.DisplayName("IsUser")
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
        <tr>
            <td>
                @Count
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConLastName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ConMobileNumber)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ConEmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsUser)
            </td>
            <td style="display: inline-flex">
                <a href='#' onclick="getItems('@item.ContactId','JsonGetPerson')" class="btn btn-small btn-info btnSize ">Edit</a>
            </td>
        </tr>
                Count++;
            }

        </table>
    </div>
    </div>






