@model IEnumerable<doorserve.Models.ServiceOfferedModel>
@using doorserve.Models
@{

    var count = 1;
}
<div class="panel-body">
    <div class="x_content" style="overflow-x: scroll;">
        <table class="table table-striped table-bordered table-condensed" id="myTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Serial No")
                    </th>
                    <th>
                        @Html.DisplayName("Category")
                    </th>
                    <th>
                        @Html.DisplayName("Sub-Category")
                    </th>
                    <th>
                        @Html.DisplayName("Service Type")
                    </th>
                    <th>
                        @Html.DisplayName("Service Delivery Type")
                    </th>
                    <th>
                        @Html.DisplayName("Country")
                    </th>
                    <th>
                        @Html.DisplayName("State")
                    </th>
                    <th>
                        @Html.DisplayName("District")
                    </th>
                    <th>
                        @Html.DisplayName("Pin Code")
                    </th>
                    <th>
                        @Html.DisplayName("IsActive")
                    </th>
                    <th class="action">Action</th>
                </tr>
            </thead>


            @foreach (var item in Model)
            {
        <tr>
            <td>
                @count
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubCategory)
            </td>
            <td>
                @item.ServiceType

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.District)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PinCode)
            </td>
            <td>
                @if (item.IsActive)
                {
                    <span>True</span>
                }
                else
                {
                    <span>False</span>

                }
            </td>

            <td style="display: inline-flex" class="action">
                @if (Permissions.Rights.Edit)
                {
                    <span>
                        <a href="#" onclick="EditAreaPin('@item.ServiceAreaId')"  class="btn btn-small btn-info btnSize">Edit Pincode</a>
                    </span>
                }
            </td>
        </tr>
                count++;
            }

        </table>
    </div>
</div>
