@model  TogoFogo.Models.Template.TemplateListModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    var count = 1;
    var count1 = 1;
}


<div class="panel-heading">

    <div class="row">

        <div class="col-md-6">
            <h3 class="m-t-0 m-b-5">Email,SMS & Notification Template List</h3>
            <p class="text-muted m-b-0"></p>
        </div>

        <div class="col-md-6  add-tem-btn-mar-top">
            <div class="panel-tools">
                <a href='@Url.Action("Create","templates")' class="tools-icon">

                    <button type="submit" class="btn btn-primary btn-sm">Add New Template</button>
                </a>
                <a href="#" class="tools-icon">
                    <button type="submit" class="btn btn-primary btn-sm">Export to Excel</button>
                </a>
                <a href="#" class="tools-icon">
                    <i class="zmdi zmdi-refresh"></i>
                </a>
                <a href="#" class="tools-icon">
                    <i class="zmdi zmdi-close"></i>
                </a>
            </div>
        </div>


    </div>
</div>

<div class="panel-body">

    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs m-b-15">


                    <li class="active">
                        <a href="#tab-5" role="tab" data-toggle="tab">
                            <button type="submit" class="btn btn-primary btn-sm">Non Action Type</button>
                        </a>
                    </li>
                    <li>
                        <a href="#tab-6" role="tab" data-toggle="tab">
                            <button type="submit" class="btn btn-primary btn-sm">Action Type</button>
                        </a>
                    </li>


                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="tab-5">

                        <div class="row">


                            <div class="col-md-6 form-group">

                                <label class=" control-label" for="form-control-9">Message Type </label>


                                <div class="form-group">
                                    @Html.DropDownListFor(model => model.NonMessageTypeId, Model.MessageTypeList, "Select", new { @class = "form-control", @readonly = "readonly" })
                                </div>


                            </div>
                        </div>

                        <div class="table-responsive m-t-5">
                            <table class="table table-striped table-bordered dataTable" id="myTable1">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayName("SLNo")
                                        </th>
                                        <th>

                                            @Html.DisplayName("Mailer Template Type")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Message Type")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Action Type")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Template Name")
                                        </th>
                                        <th>
                                            @Html.DisplayName("MailSubject")
                                        </th>
                                        <th>
                                            @Html.DisplayName("ToEmailID")
                                        </th>
                                        <th>
                                            @Html.DisplayName("BccEmailID")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Is System Email")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Is Active")
                                        </th>
                                        <th>
                                            @Html.DisplayName("CreateDateTime")
                                        </th>
                                        <th>
                                            @Html.DisplayName("UpdateDateTime")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Action")
                                        </th>
                                    </tr>
                                </thead>
                                @foreach (var item in Model.NonActionTemplates)
                                {
                                    <tr>
                                        <td>
                                            @count
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MailerTemplateName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MessageTypeName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ActionTypeName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TemplateName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Subject)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ToEmail)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BccEmails)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IsSystemDefined)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IsActive)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AddedOn)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LastUpdatedBy)
                                        </td>
                                        <td style="display: inline-flex">
                                            <a class="btn btn-small btn-info btnSize " href='@Url.Action("EDIT", "Templates", new { id = item.TemplateId })'>Edit</a>
                                        </td>
                                    </tr>
                                    count++;
                                }

                            </table>
                        </div>


                        


                    </div><!--tab-pane-->




                    <div role="tabpanel" class="tab-pane fade in" id="tab-6">

                        <div class="row">
                            <div class="col-md-6 form-group">

                                <label class=" control-label" for="form-control-9">Message Type </label>
                                <div class="form-group">
                                    @Html.DropDownListFor(model => model.MessageTypeId, Model.MessageTypeList, "Select", new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>


                            <div class="col-md-6 form-group">
                                <label class=" control-label" for="form-control-9">Action Type </label>
                                <div class="form-group">
                                    @Html.DropDownListFor(model => model.ActionTypeId, Model.ActionTypeList, "Select", new { @class = "form-control", @readonly = "readonly" })
                                </div>

                            </div>



                        </div>



                        <div class="table-responsive m-t-5">
                            <table class="table table-striped table-bordered dataTable" id="myTable">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayName("SLNo")
                                        </th>
                                        <th>

                                            @Html.DisplayName("Mailer Template Type")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Message Type")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Action Type")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Template Name")
                                        </th>
                                        <th>
                                            @Html.DisplayName("MailSubject")
                                        </th>
                                        <th>
                                            @Html.DisplayName("ToEmailID")
                                        </th>
                                        <th>
                                            @Html.DisplayName("BccEmailID")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Is System Email")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Is Active")
                                        </th>
                                        <th>
                                            @Html.DisplayName("CreateDateTime")
                                        </th>
                                        <th>
                                            @Html.DisplayName("UpdateDateTime")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Action")
                                        </th>
                                    </tr>
                                </thead>
                                @foreach (var item in Model.Templates)
                                {
                                    <tr>
                                        <td>
                                            @count1
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MailerTemplateName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MessageTypeName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ActionTypeName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TemplateName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Subject)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ToEmail)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BccEmails)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IsSystemDefined)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IsActive)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AddedOn)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LastUpdatedBy)
                                        </td>
                                        <td style="display: inline-flex">
                                            <a class="btn btn-small btn-info btnSize " href='@Url.Action("EDIT", "Templates", new { id = item.TemplateId })'>Edit</a>
                                        </td>
                                    </tr>
                                    count1++;
                                }

                            </table>
                        </div>



                    </div><!--tab-6-->

                </div>
            </div>








        </div>





    </div>
</div>





@section scripts{
    <script>
        $("#TemplateTypeId").on("change", function (e) {
            debugger
            var thisvalue = $(this).find("option:selected").text();
            if (thisvalue == "ActionBased") {
                console.log("hi");
                $("#actions").show();

            }
            else
                $("#actions").hide();
        })
        </script>
}