@model  TogoFogo.Models.Template.TemplateListModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    var count = 1;

}

<div class="panel-heading">
    <div class="row">
        <div class="col-md-6">
            <h3 class="m-t-0 m-b-5">Email,SMS & Notification Non-Action Based Template List</h3>
            <p class="text-muted m-b-0"></p>
        </div>
        <div class="col-md-6  add-tem-btn-mar-top">
            <div class="panel-tools">
                <a href='@Url.Action("Create","templates")' class="tools-icon">
                    <button type="submit" class="btn btn-primary btn-sm">Add New Template</button>
                </a>
                <a href="#" class="tools-icon">
                    <button type="submit" class="btn btn-primary btn-sm">Export to Excel</button>
                </a>
                <a href="#" class="tools-icon">
                    <i class="zmdi zmdi-refresh"></i>
                </a>
                <a href="#" class="tools-icon">
                    <i class="zmdi zmdi-close"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="panel-body">
    <div class="table-responsive m-t-5">
        <table class="table table-striped table-bordered dataTable" id="NonActionBasedTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("SLNo")
                    </th>
                    <th>
                        @Html.DisplayName("Total Schedule Count")
                    </th>
                    <th>
                        @Html.DisplayName("Schedule Time")
                    </th>
                    <th>
                        @Html.DisplayName("Mailer Template Type")
                    </th>
                    <th>
                        @Html.DisplayName("Message Type")
                    </th>
                    <th>
                        @Html.DisplayName("Template Name")
                    </th>
                    <th>
                        @Html.DisplayName("Priority Type")
                    </th>
                    <th>
                        @Html.DisplayName("Is Active")
                    </th>
                    <th>
                        @Html.DisplayName("Last UpdatedBy")
                    </th>
                    <th>
                        @Html.DisplayName("Added On")
                    </th>
                    <th>
                        @Html.DisplayName("Action")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.NonActionTemplates)
                {
                    <tr>
                        <td>
                            @count
                            @{ item.TemplateTrackers = Model.TemplateTrackerList.Where(x => x.TemplateId == item.TemplateId).ToList();}
                        </td>
                        <td class="details-control">
                            <a id="TrackStatus" href="javascript:void(0)" data-val="@Json.Encode(item.TemplateTrackers)">@Html.DisplayFor(modelItem => item.TotalTemplateSchedule)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ScheduleDateTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MailerTemplateName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MessageTypeName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TemplateName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PriorityType)
                        </td>
                        <td>
                            @(item.IsActive == true ? "Active" : "InActive")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastUpdatedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AddedOn)
                        </td>
                        <td style="display: inline-flex">
                            <a class="btn btn-small btn-info btnSize " href='@Url.Action("EDIT", "Templates", new { @id = item.TemplateId,@GUID= item.GUID })'>Edit</a>
                        </td>
                    </tr>

                    count++;
                }
            </tbody>
        </table>
    </div>
</div>