@model  TogoFogo.Models.Template.TemplateListModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    var count = 1;

}
<style>
    .table-display {
        display: block;
    }

    .table-none {
        display: none;
    }
</style>
<div class="panel-heading">
    <div class="row">
        <div class="col-md-6">
            <h3 class="m-t-0 m-b-5">Email,SMS & Notification Action Based Template List</h3>
            <p class="text-muted m-b-0"></p>
        </div>
        <div class="col-md-6  add-tem-btn-mar-top">
            <div class="panel-tools">
                <a href='@Url.Action("Create","templates")' class="tools-icon">
                    <button type="submit" class="btn btn-primary btn-sm">Add New Template</button>
                </a>
                <a href="#" class="tools-icon">
                    <button type="submit" class="btn btn-primary btn-sm">Export to Excel</button>
                </a>
                <a href="#" class="tools-icon">
                    <i class="zmdi zmdi-refresh"></i>
                </a>
                <a href="#" class="tools-icon">
                    <i class="zmdi zmdi-close"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="panel-body">
    
          
                    <!--tab-pane-->

                        <div class="table-responsive m-t-5">
                            <table class="table table-striped table-bordered dataTable" id="ActionBasedTable">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayName("SLNo")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Mailer Template Type")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Message Type")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Action Type")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Template Name")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Mail Subject")
                                        </th>

                                        <th>
                                            @Html.DisplayName("Bcc Email ID")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Is System Email")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Is Active")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Create DateTime")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Update DateTime")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Action")
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Templates)
                                    {
                                        <tr>
                                            <td>
                                                @count
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MailerTemplateName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MessageTypeName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ActionTypeName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TemplateName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Subject)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.BccEmails)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.IsSystemDefined)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.IsActive)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AddedOn)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LastUpdatedBy)
                                            </td>
                                            <td style="display: inline-flex">
                                                <a class="btn btn-small btn-info btnSize " href='@Url.Action("EDIT", "Templates", new { id = item.TemplateId })'>Edit</a>
                                            </td>
                                        </tr>
                                        count++;
                                    }
                                </tbody>
                            </table>
                        </div>

                    <!--tab-6-->
                </div>
          
  

@section scripts{

    <script>
        var tableNonActionBasedTable = $('#NonActionBasedTable').DataTable();
        $('#NonActionBasedTable tbody').on('click', 'td.details-control', function (e) {
            var trTable = $(this).closest('tr');
            //trTable.next('tr').removeClass('table-none');
            var row = tableNonActionBasedTable.row(trTable);
            var data = $(this).children().attr("data-val");
            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                //trTable.addclass('table-none');
            }
            else {
                // Open this row
                row.child(format(data)).show();
                //tr.addClass('shown');
                // trTable.removeClass('table-none');
            }
        });
        function format(data) {
            //console.log(d);
            var htmlTable = "";
            var trackerList = JSON.parse(data);
            if (trackerList.length > 0) {
                htmlTable += "<table id='tblTrackerList' class='table table-bordered'><thead><tr><th>Serial No</th><th>Schedule Time</th ><th>Success Count</th>";
                htmlTable += "<th>Failed Count</th><th>Status Code</th><th>Start Date</th><th>Action</th></tr></thead><tbody>";
                var Count = 0;
                for (var i = 0; i < trackerList.length; i++) {
                    Count = Count + 1;
                    htmlTable += "<tr><td>" + Count + "</td>   <td> " + trackerList[i].ScheduleDateTime + "</td ><td>" + trackerList[i].SuccessCount + "</td> <td> " + trackerList[i].FailedCount + "</td>";
                    htmlTable += "<td> " + trackerList[i].StatusCode + "</td><td> " + (trackerList[i].StartDate == null ? 'N/A' : trackerList[i].StartDate) + "</td><td><a href='javascript:void(0)' class='clsView'  data-templateid='" + trackerList[i].TemplateId + "'>View</a></td></tr >";
                }


                htmlTable += "</tbody ></table>";
            }
            return htmlTable;
        }
        $(document).on("click", "#clsView", function () {


        });
    </script>
    }