
@model doorserve.Models.UAWBS
@{

    ViewBag.Title = "UAWBSBForm";

}
@*<div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h3 class="m-y-0">Update Reverse AWB Status (Biker)</h3>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>

                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>*@


<div class="panel-heading">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-md-6">
                <h3 class="m-y-0">Update Reverse AWB Status (Biker)</h3>
            </div>            
        </div>
    </div>
</div>
<div class="panel-body">
    <div class="x_content">
        @using (Html.BeginForm("", "Logistics", FormMethod.Post))
        {
            <div class="row">
                <div class="col-md-6">
                    <p style="font-size: 17px;"><u>Repair Information:</u></p>
                    <div class="row" style="padding-bottom: 5px">
                        @Html.LabelFor(model => model.CourierName, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(model => model.CourierName, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CourierName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 5px">
                        @Html.LabelFor(model => model.BikerName, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(model => model.BikerName, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.BikerName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 5px">
                        @Html.LabelFor(model => model.BikerMobile, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(model => model.BikerMobile, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.BikerMobile, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 5px">
                        @Html.LabelFor(model => model.BikeMake, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(model => model.BikeMake, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.BikeMake, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 5px">
                        @Html.LabelFor(model => model.BikeNumber, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(model => model.BikeNumber, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.BikeNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 5px">
                        @Html.LabelFor(model => model.CashInHand, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(model => model.CashInHand, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CashInHand, "", new { @class = "text-danger" })
                        </div>
                    </div>


                </div>

            </div>
            <div class="row ">
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">

                        <button class="btn btn-primary" type="reset">Reset</button>
                        <button type="button" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </div>
        }

    </div>
    </div>

    @section Scripts{

        <script>

            $('#SE_Action').on('change', function () {
                if (this.value == 'Pickup') {
                    $("#ReversePickupDate").show();
                }
                else {
                    $("#ReversePickupDate").hide();
                }

            });
            $('#CourierName').change(function () {

                var selectedValue = parseInt(jQuery(this).val());
                $.ajax({
                    type: 'GET',
                    url: "/CustomerSupport/GetCourierInformation?CourierId=" + selectedValue,
                    contentType: 'application/json; charset=utf-8',
                    cache: false,
                    success: function (response) {
                        console.log(response)
                        var url = "http://crm.doorserve.com/UploadedImages/" + response.UploadedCourierFile
                        $('#CourierContact').val(response.MobileNumber)
                        $('#CourierActive').val(response.IsActive)
                        $('#BikeMake').val(response.BikeMakeandModel)
                        $('#BikeNumber').val(response.BikeNumber)
                        $("#CourierLogo").attr('src', url);
                    },
                    error: function (e) {
                        console.log(e);
                        $(".submitbutton").attr("disabled", false);
                        alert("Something went wrong...");

                    },
                    complete: function () {

                        $(".submitbutton").attr("disabled", false);
                    }
                });
            });
        </script>
    }


