@model IEnumerable<TogoFogo.Models.UREVASTable>


            <table  class="table table-striped table-bordered table-condensed" id="myTable">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.CourierName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ReverseAWBNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ReverseAWBNumberUsedType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OpenTatDays)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.shipdateandTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.pickupdateandTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PickupCode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StatusType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ReverseAWBStatus)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Remarks)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UpdateType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LastUpdateDateandTime)
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CourierName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReverseAWBNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReverseAWBNumberUsedType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OpenTatDays)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.shipdateandTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.pickupdateandTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PickupCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StatusType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReverseAWBStatus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Remarks)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UpdateType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastUpdateDateandTime)
                        </td>
                      
                        <td>
                            @Html.ActionLink("Update", "FinalUpdateReverseAWB", new { AWB=item.ReverseAWBNumber }) |
                          
                        </td>
                    </tr>
                    }
                </tbody>
               

            </table>
   