@model doorserve.Models.ManageStateModel


<div class="row" style="padding-bottom: 5px;">
    <div class="col-md-2  col-xs-12">
        @Html.LabelFor(model => model.St_CntyID)
        <span class="error-alert">*</span>
    </div> 
    <div class="col-md-6 col-sm-12 col-xs-12">
        @Html.DropDownListFor(model => model.St_CntyID, Model._CountryList, new { @class = "form-control" })
    </div>
    @Html.ValidationMessageFor(model => model.St_CntyID, "", new { @class = "text-danger" })
</div>


<div class="row" style="padding-bottom: 5px;">
    @Html.LabelFor(model => model.St_Name, htmlAttributes: new { @class = "col-md-2  col-xs-12" })
    <div class="col-md-6 col-sm-12 col-xs-12">        
        @Html.TextBoxFor(x => x.St_Name, new { @class = "form-control" })
    </div>
    @Html.ValidationMessageFor(model => model.St_Name, "", new { @class = "text-danger" })
</div>



<div class="row" style="padding-bottom: 5px;">
    @Html.LabelFor(model => model.St_Code, htmlAttributes: new { @class = "col-md-2  col-xs-12" })
    <div class="col-md-6 col-sm-12 col-xs-12">        
        @Html.TextBoxFor(x => x.St_Code, new { @class = "form-control" })
    </div>
    @Html.ValidationMessageFor(model => model.St_Code, "", new { @class = "text-danger" })
</div>

<div class="row" style="padding-bottom: 5px;">
    @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "col-md-2  col-xs-12" })
    <div class="col-md-6 col-sm-12 col-xs-12">
        @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control", @cols = 42, @rows = 2 })

    </div>
</div>
<div class="row" style="padding-bottom: 5px;">
    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "col-md-2  col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.CheckBoxFor(model => model.IsActive, new { @checked = "checked" })

    </div>
</div>

