
@model doorserve.Models.Gateway.NotificationGatewayModel
@Html.HiddenFor(x => x.GatewayId)
@Html.HiddenFor(x => x.GatewayTypeId)

@if (Model.IsAdmin)
{
    <div class="row form-group">
        <div class="col-md-12">
            <label class="control-label" for="form-control-9">Select Company</label>
            @Html.DropDownListFor(model => model.CompanyId, Model.CompanyList, "Select", new { @class = "form-control input-md", @placeholder = "Gateway Name" })
            @Html.ValidationMessageFor(model => model.CompanyId, "", new { @class = "text-danger" })
        </div>

    </div>
}
<div class="row form-group">
    <div class="col-md-12">
        <label class="control-label" for="form-control-9">Gateway Name<span class="error-alert">*</span></label>
        @Html.TextBoxFor(model => model.GatewayName, new { @class = "form-control input-md", @placeholder = "Gateway Name" })
        @Html.ValidationMessageFor(model => model.GatewayName, "", new { @class = "text-danger" })
    </div>

</div>

<div class="row form-group">
    <div class="col-md-12">
        <label class="control-label" for="form-control-9">Sender ID<span class="error-alert">*</span></label>
        @Html.TextBoxFor(model => model.SenderID, new { @class = "form-control input-md", @placeholder = "Sender ID" })
        @Html.ValidationMessageFor(model => model.SenderID, "", new { @class = "text-danger" })
    </div>

</div>



<div class="row form-group">
    <div class="col-md-12">
        <label class="control-label" for="form-control-9">Google Api key<span class="error-alert">*</span></label>
        @Html.TextBoxFor(model => model.GoogleApikey, new { @class = "form-control input-md", @placeholder = "Google Api key" })
        @Html.ValidationMessageFor(model => model.GoogleApikey, "", new { @class = "text-danger" })
    </div>

</div>


<div class="row form-group">
    <div class="col-md-12">
        <label class="control-label" for="form-control-9">Api Url (Google)</label>
        @Html.TextBoxFor(model => model.GoogleApiUrl, new { @class = "form-control input-md", @placeholder = "Google Api Url" })
        @Html.ValidationMessageFor(model => model.GoogleApiUrl, "", new { @class = "text-danger" })
    </div>

</div>


<div class="row form-group">
    <div class="col-md-12">
        <label class="control-label" for="form-control-9">Project ID (in Google)<span class="error-alert">*</span></label>
        @Html.TextBoxFor(model => model.GoogleProjectID, new { @class = "form-control input-md", @placeholder = "Google Project ID" })
        @Html.ValidationMessageFor(model => model.GoogleProjectID, "", new { @class = "text-danger" })
    </div>

</div>

<div class="row form-group">
    <div class="col-md-12">
        <label class="control-label" for="form-control-9">Project Name (in Google)<span class="error-alert">*</span></label>
        @Html.TextBoxFor(model => model.GoogleProjectName, new { @class = "form-control input-md", @placeholder = "Google Project Name" })
        @Html.ValidationMessageFor(model => model.GoogleProjectName, "", new { @class = "text-danger" })
    </div>

</div>

<div class="row form-group">
    <div class="col-md-12"><label class=" control-label" for="form-control-9">Is Active</label></div>
    <div class="col-md-12">
        <label class="custom-control custom-control-primary custom-checkbox active">
            @Html.CheckBoxFor(x => x.IsActive, new { @class = "custom-control-input" })
            <span class="custom-control-indicator"></span>

        </label>

    </div>

</div>


<div class="row">
    <div class="col-md-12 ">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>