@model  TogoFogo.Models.User
@{

}


<div class="profile">
    <div class="row gutter-sm">
        <div class="col-md-4 col-sm-5">
            <div class="p-about">
                <div class="pa-padding">
                    <div class="pa-avatar">
                        <img id="blah" src="~/Images/male-user-add.png" width="40" height="40" alt="your image" />
                    </div>
                    <div class="pa-name">
                        @Html.DisplayFor(model => model.UserName)
                        <i class="zmdi zmdi-check-circle text-success m-l-5"></i>
                    </div>
                    <div class="pa-text">@Html.DisplayFor(model => model._UserRole.RoleName)</div>


                </div>

            </div>
            <div class="p-info m-b-20">
                <h4 class="m-y-0">Contact info</h4>
                <hr />
                <div class="pi-item">
                    <div class="pii-icon">
                        <i class="zmdi zmdi-phone"></i>
                    </div>
                    <div class="pii-value"> @Html.DisplayFor(model => model._ContactPerson.ConMobileNumber)</div>
                </div>
                <div class="pi-item">
                    <div class="pii-icon">
                        <i class="zmdi zmdi-email"></i>
                    </div>
                    <div class="pii-value">@Html.DisplayFor(model => model._ContactPerson.ConEmailAddress)</div>
                </div>
                <div class="pi-item">
                    <div class="pii-icon">
                        <i class="zmdi zmdi-home"></i>
                    </div>
                    <div class="pii-value">@Html.DisplayFor(model => model._AddressDetail.Address)</div>
                </div>
            </div>
        </div>



        <div class="col-md-8 col-sm-7">
            <div class="p-info m-b-20">
                <h4 class="m-y-0">User Profile</h4>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <b>First Name:</b>
                    </div>
                    <div class="col-md-2 ">@Html.DisplayFor(model => model._ContactPerson.ConFirstName)</div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <b>Last Name:</b>
                        </div>
                        <div class="col-md-2">@Html.DisplayFor(model => model._ContactPerson.ConLastName)</div>
                    </div>
                <div class="row">
                    <div class="col-md-4">
                        <b>Organization Code:</b>                        
                    </div>
                    <div class="col-md-2">@Html.DisplayFor(model => model._OrganizationModel.OrgCode)</div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <b>Organization Name:</b>                      
                    </div>
                    <div class="col-md-2">@Html.DisplayFor(model => model._OrganizationModel.OrgName)</div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <b>Process Name:</b>                        
                    </div>
                    <div class="col-md-2">@Html.DisplayFor(model => model._ClientModel.ProcessName)</div>
                </div>
            </div>



        </div>
    </div>
</div>
    



