@model IList<TogoFogo.Models.EmailHeaderFooterModel>
@using TogoFogo.Models

@{  var rights = ViewData["rights"] as TogoFogo.Models.UserActionRights;
 }


<div class="table-responsive">
    <table class="table table-striped table-bordered dataTable" id="table-1">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Template Name")
                </th>
                <th>
                    @Html.DisplayName("Date Of Creation")
                </th>
                <th>
                    @Html.DisplayName("Action")
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name) 
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastUpdateDate)
                    </td>
                    <td class="text-center">
                        @if (Permissions.Rights.Edit)
                        {
                            <button type="button" class="btn btn-success btn-circle btn-sm" onclick="GetEmailHeaderFooterDetails(@item.EmailHeaderFooterId)"><i class="glyphicon glyphicon-pencil"></i></button>
                        }

                        </td>

                </tr>

            }

        </tbody>

    </table>
</div>

