@model TogoFogo.Models.EditRepairStatus
@{
	Layout = null;

}

@using (Html.BeginForm("editRepairStatus1", "RepairStatus", FormMethod.Post))
{
	<div class="col-md-6">
		<p style="font-size: 17px;"><u>Repair Information:</u></p>
		<div class="row" style="padding-bottom: 5px">
			@Html.LabelFor(model => model.CcNo, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
			<div class="col-md-6 col-sm-6 col-xs-12">
				@Html.TextBoxFor(model => model.CcNo, htmlAttributes: new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.CcNo, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="row" style="padding-bottom: 5px">
			@Html.LabelFor(model => model.Pickup_Date, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
			<div class="col-md-6 col-sm-6 col-xs-12">
				@Html.TextBoxFor(model => model.Pickup_Date, htmlAttributes: new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.Pickup_Date, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="row" style="padding-bottom: 5px">
			@Html.LabelFor(model => model.StatusName, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
			<div class="col-md-6 col-sm-6 col-xs-12">
				@Html.TextBoxFor(model => model.StatusName, htmlAttributes: new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.StatusName, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="row" style="padding-bottom: 5px">
			@Html.LabelFor(model => model.CurrentStatus, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
			<div class="col-md-6 col-sm-6 col-xs-12">
				@Html.TextBoxFor(model => model.CurrentStatus, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.CurrentStatus, "", new { @class = "text-danger" })
			</div>
		</div>

		<p style="font-size: 17px;">Customer Information :</p>

		<div class="row" style="padding-bottom: 5px">
			@Html.LabelFor(model => model.Customer_Name, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
			<div class="col-md-6 col-sm-6 col-xs-12">
				@Html.TextBoxFor(model => model.Customer_Name, htmlAttributes: new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.Customer_Name, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="row" style="padding-bottom: 5px">
			@Html.LabelFor(model => model.Mobile_No, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
			<div class="col-md-6 col-sm-6 col-xs-12">
				@Html.TextBoxFor(model => model.Mobile_No, htmlAttributes: new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.Mobile_No, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="row" style="padding-bottom: 5px">
			@Html.LabelFor(model => model.Email_Id, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
			<div class="col-md-6 col-sm-6 col-xs-12">
				@Html.TextBoxFor(model => model.Email_Id, htmlAttributes: new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.Email_Id, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="row" style="padding-bottom: 5px">
			@Html.LabelFor(model => model.Cust_Add, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
			<div class="col-md-6 col-sm-6 col-xs-12">
				@Html.TextBoxFor(model => model.Cust_Add, htmlAttributes: new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.Cust_Add, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="row" style="padding-bottom: 5px">
			@Html.LabelFor(model => model.Cust_City, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
			<div class="col-md-6 col-sm-6 col-xs-12">
				@Html.TextBoxFor(model => model.Cust_City, htmlAttributes: new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.Cust_City, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="row" style="padding-bottom: 5px">
			@Html.LabelFor(model => model.Cust_State, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
			<div class="col-md-6 col-sm-6 col-xs-12">
				@Html.TextBoxFor(model => model.Cust_State, htmlAttributes: new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.Cust_State, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="row" style="padding-bottom: 5px">
			@Html.LabelFor(model => model.AltNo, new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
			<div class="col-md-6 col-sm-6 col-xs-12">
				@Html.TextBoxFor(model => model.AltNo, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.AltNo, "", new { @class = "text-danger" })
			</div>
		</div>
	</div>
	<div class="row">

		<div class="col-md-6">
			<p style="font-size: 17px;"><u>Device Information:</u></p>
			<div class="row" style="padding-bottom: 5px">
				@Html.LabelFor(model => model.DeviceType, new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
				<div class="col-md-6 col-sm-6 col-xs-12">
					@Html.TextBoxFor(model => model.DeviceType, new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.DeviceType, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="row" style="padding-bottom: 5px">
				@Html.LabelFor(model => model.Brand, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
				<div class="col-md-6 col-sm-6 col-xs-12">
					@Html.TextBoxFor(model => model.Brand, htmlAttributes: new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.Brand, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="row" style="padding-bottom: 5px">
				@Html.LabelFor(model => model.Model, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
				<div class="col-md-6 col-sm-6 col-xs-12">
					@Html.TextBoxFor(model => model.Model, htmlAttributes: new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.Model, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="row" style="padding-bottom: 5px">
				@Html.LabelFor(model => model.CustomerId, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
				<div class="col-md-6 col-sm-6 col-xs-12">
					@Html.TextBoxFor(model => model.CustomerId, htmlAttributes: new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="row" style="padding-bottom: 5px">
				@Html.LabelFor(model => model.Problem, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
				<div class="col-md-6 col-sm-6 col-xs-12">
					@Html.TextBoxFor(model => model.Problem, htmlAttributes: new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.Problem, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="row" style="padding-bottom: 5px">
				@Html.LabelFor(model => model.Serial_No, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
				<div class="col-md-6 col-sm-6 col-xs-12">
					@Html.TextBoxFor(model => model.Serial_No, htmlAttributes: new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.Serial_No, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="row" style="padding-bottom: 5px">
				@Html.LabelFor(model => model.IMEI1, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
				<div class="col-md-6 col-sm-6 col-xs-12">
					@Html.TextBoxFor(model => model.IMEI1, htmlAttributes: new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.IMEI1, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="row" style="padding-bottom: 5px">
				@Html.LabelFor(model => model.IMEI2, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
				<div class="col-md-6 col-sm-6 col-xs-12">
					@Html.TextBoxFor(model => model.IMEI2, htmlAttributes: new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.IMEI2, "", new { @class = "text-danger" })
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-sm-6 col-xs-12">
			<p style="font-size: 17px;"><u>Service Engineer Action:</u></p>

			<div class="row" style="padding-bottom: 5px">
				@Html.LabelFor(model => model.SE_Action, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
				<div class="col-md-6 col-sm-6 col-xs-12">
					@Html.DropDownListFor(model => model.SE_Action, new List<SelectListItem>
						{
							new SelectListItem {Text = "SE Visit", Value = "SE Visit"},
							new SelectListItem {Text = "Pickup", Value = "Pickup"}

						}, "Select", new { @class = "form-control", onchange = "showfield(this.options[this.selectedIndex].value)" })
					@Html.ValidationMessageFor(model => model.SE_Action, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="row" style="padding-bottom: 5px">
				@Html.LabelFor(model => model.EngineerVisitDate, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
				<div class="col-md-6 col-sm-6 col-xs-12">
					@Html.TextBoxFor(model => model.EngineerVisitDate, htmlAttributes: new { @class = "form-control", id = "datepicker" })
					@Html.ValidationMessageFor(model => model.EngineerVisitDate, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="row" style="padding-bottom: 5px">
				@Html.LabelFor(model => model.Engg_Name, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
				<div class="col-md-6 col-sm-6 col-xs-12">
					@Html.TextBoxFor(model => model.Engg_Name, htmlAttributes: new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.Engg_Name, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="row" style="padding-bottom: 5px" id="revisit">
				@Html.LabelFor(model => model.RevisitDatetime, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
				<div class="col-md-6 col-sm-6 col-xs-12">
					@Html.TextBoxFor(model => model.RevisitDatetime, htmlAttributes: new { @class = "form-control", id = "datepicker" })
					@Html.ValidationMessageFor(model => model.RevisitDatetime, "", new { @class = "text-danger" })
				</div>
			</div>
			<div id="Info">
				<div class="row" style="padding-bottom: 5px">
					@Html.LabelFor(model => model.CourierName, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
					<div class="col-md-6 col-sm-6 col-xs-12">
						@Html.DropDownListFor(model => model.CourierName, null, new { @class = "form-control", onchange = "showCourier(this.options[this.selectedIndex].value)" })

						@Html.ValidationMessageFor(model => model.CourierName, "", new { @class = "text-danger" })
					</div>
				</div>
				<div class="row" style="padding-bottom: 5px">
					@Html.LabelFor(model => model.CourierActive, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
					<div class="col-md-6 col-sm-6 col-xs-12">
						@Html.DropDownListFor(model => model.CourierActive, new List<SelectListItem>
								{
									new SelectListItem {Text = "Yes", Value = "Yes"},
									new SelectListItem {Text = "No", Value = "No"}

								}, "Select", new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.CourierActive, "", new { @class = "text-danger" })
					</div>
				</div>
				<div class="row" style="padding-bottom: 5px">
					@Html.LabelFor(model => model.BikeMake, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
					<div class="col-md-6 col-sm-6 col-xs-12">
						@Html.TextBoxFor(model => model.BikeMake, htmlAttributes: new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.BikeMake, "", new { @class = "text-danger" })
					</div>
				</div>
				<div class="row" style="padding-bottom: 5px">
					@Html.LabelFor(model => model.MessageCusto, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
					<div class="col-md-6 col-sm-6 col-xs-12">
						@Html.TextBoxFor(model => model.MessageCusto, htmlAttributes: new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.MessageCusto, "", new { @class = "text-danger" })
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-12">
			<div class="row" style="padding-bottom: 5px">
				@Html.LabelFor(model => model.UploadedCourierFile, new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
				<div class="col-md-6 col-sm-6 col-xs-12">
					<img src="" id="courierimg" width="150" height="150" />
					@Html.ValidationMessageFor(model => model.UploadedCourierFile, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="row" style="padding-bottom: 5px">
				@Html.LabelFor(model => model.BikeNumber, new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
				<div class="col-md-6 col-sm-6 col-xs-12">
					@Html.TextBoxFor(model => model.BikeNumber, new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.BikeNumber, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="row" style="padding-bottom: 5px">
				@Html.LabelFor(model => model.MobileNumber, new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
				<div class="col-md-6 col-sm-6 col-xs-12">
					@Html.TextBoxFor(model => model.MobileNumber, new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.MobileNumber, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="row" style="padding-bottom: 5px">
				@Html.LabelFor(model => model.Remarks, new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
				<div class="col-md-6 col-sm-6 col-xs-12">
					@Html.TextBoxFor(model => model.Remarks, new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
				</div>
			</div>


		</div>
	</div>
	<div class="row">
		<p style="font-size: 17px;"><u>Repair Engineer Action:</u></p>
		<div class="row" style="padding-bottom: 5px">
			@Html.LabelFor(model => model.PhysicalDamage, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
			<div class="col-md-6 col-sm-6 col-xs-12">
				@Html.DropDownListFor(model => model.PhysicalDamage, new List<SelectListItem>
				{
					new SelectListItem {Text = "Yes", Value = "Yes"},
					new SelectListItem {Text = "No", Value = "No"}

				}, "Select", new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.PhysicalDamage, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="row" style="padding-bottom: 5px">
			@Html.LabelFor(model => model.DeviceWarranty, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
			<div class="col-md-6 col-sm-6 col-xs-12">
				@Html.DropDownListFor(model => model.DeviceWarranty, new List<SelectListItem>
				{
					new SelectListItem {Text = "Yes", Value = "Yes"},
					new SelectListItem {Text = "No", Value = "No"}

				}, "Select", new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.DeviceWarranty, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="row" style="padding-bottom: 5px">
			@Html.LabelFor(model => model.PrblmObsrvd, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
			<div class="col-md-6 col-sm-6 col-xs-12">
				@Html.DropDownListFor(model => model.PrblmObsrvd, null, new { @class = "selectpicker", multiple = "multiple" })

				@Html.ValidationMessageFor(model => model.PrblmObsrvd, "", new { @class = "text-danger" })
			</div>
		</div>

	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="row" style="padding-bottom: 5px">
				@Html.LabelFor(model => model.SpareType, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
				<div class="col-md-6 col-sm-6 col-xs-12">

					@Html.DropDownListFor(model => model.SpareType, null, new { @class = "form-control", onchange = "AjaxWithValue('BindSparePartNameJson', 'SpareName', this)" })

					@Html.ValidationMessageFor(model => model.SpareType, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="row" style="padding-bottom: 5px">
				@Html.LabelFor(model => model.SpareName, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
				<div class="col-md-6 col-sm-6 col-xs-12">

					@Html.DropDownListFor(model => model.SpareName, null, new { @class = "form-control" })

					@Html.ValidationMessageFor(model => model.SpareName, "", new { @class = "text-danger" })
				</div>
			</div>
		</div>
		<div class="col-md-2" style="margin-top: 10px;">
			<input type="button" class="btn btn-primary" value="Add" onclick="getSpareData()" />
		</div>
	</div>
	<div class="row">
		<table style="width: 100%" id="test">
			<tr>
				<th>Spare Type</th>
				<th>Spare Name</th>
				<th>Price (INR)</th>
				<th>Quantity</th>
			</tr>


			<tbody></tbody>
		</table>
	</div>
	<div class="row">
		<input type="button" value="Calculate" class="btn btn-info text-center" onclick="calculateBill()" />
	</div>
	<div class="row">
		<p style="font-size: 17px;"><u>Billing Information:</u></p>
		<div class="row" style="padding-bottom: 5px">
			@Html.LabelFor(model => model.BillServiceCharge, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
			<div class="col-md-6 col-sm-6 col-xs-12">
				@Html.TextBoxFor(model => model.BillServiceCharge, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.BillServiceCharge, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="row" style="padding-bottom: 5px">
			@Html.LabelFor(model => model.BillSpareCost, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
			<div class="col-md-6 col-sm-6 col-xs-12">
				@Html.TextBoxFor(model => model.BillSpareCost, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.BillSpareCost, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="row" style="padding-bottom: 5px">
			@Html.LabelFor(model => model.BillEstimatedCost, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
			<div class="col-md-6 col-sm-6 col-xs-12">
				@Html.TextBoxFor(model => model.BillEstimatedCost, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.BillEstimatedCost, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="row" style="padding-bottom: 5px">
			@Html.LabelFor(model => model.IsEstimatedCostApproved, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
			<div class="col-md-6 col-sm-6 col-xs-12">
				@Html.DropDownListFor(model => model.IsEstimatedCostApproved, new List<SelectListItem>
	{
	new SelectListItem {Text = "Yes", Value = "Yes"},
	new SelectListItem {Text = "No", Value = "No"}

	}, "Select", new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.IsEstimatedCostApproved, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="row" style="padding-bottom: 5px">
			@Html.LabelFor(model => model.RepairStatus1, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
			<div class="col-md-6 col-sm-6 col-xs-12">
				@Html.DropDownListFor(model => model.RepairStatus1, new List<SelectListItem>
	{
	new SelectListItem {Text = "OK", Value = "OK"},
	new SelectListItem {Text = "WIP", Value = "WIP"},
	new SelectListItem {Text = "NR", Value = "NR"},
	new SelectListItem {Text = "Rejected", Value = "Rejected"},
	new SelectListItem {Text = "Need to Pick UP", Value = "Need to Pick UP"}
	}, "Select", new { @class = "form-control" })

				@Html.ValidationMessageFor(model => model.RepairStatus1, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="row" style="padding-bottom: 5px">
			@Html.Label("Total Cost", new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
			<div class="col-md-6 col-sm-6 col-xs-12">
				@Html.TextBoxFor(model => model.BillEstimatedCost, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.BillEstimatedCost, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="row" style="padding-bottom: 5px">
			@Html.LabelFor(model => model.CollectableAmount, new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
			<div class="col-md-6 col-sm-6 col-xs-12">
				@Html.TextBoxFor(model => model.CollectableAmount, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.CollectableAmount, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="row radiobtn" style="padding-bottom: 5px">
			@Html.LabelFor(model => model.PaymentMode1, new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
			<div class="col-md-6 col-sm-6 col-xs-12">
				Cash: @Html.RadioButtonFor(model => model.PaymentMode1, "Cash")
				PayTm:   @Html.RadioButtonFor(model => model.PaymentMode1, "PayTm")
			</div>
		</div>
		<div class="row CashRecvd" style="padding-bottom: 5px">
			@Html.LabelFor(model => model.CashRecvd, new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
			<div class="col-md-6 col-sm-6 col-xs-12">
				@Html.TextBoxFor(model => model.CashRecvd, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.CashRecvd, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="row " style="padding-bottom: 5px">
			@Html.LabelFor(model => model.BalanceAmt, new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
			<div class="col-md-6 col-sm-6 col-xs-12">
				@Html.TextBoxFor(model => model.BalanceAmt, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.BalanceAmt, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="row TransAmt" style="padding-bottom: 5px">
			@Html.LabelFor(model => model.TransAmt, new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
			<div class="col-md-6 col-sm-6 col-xs-12">
				@Html.TextBoxFor(model => model.TransAmt, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.TransAmt, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="row TransDateTime" style="padding-bottom: 5px">
			@Html.LabelFor(model => model.TransDateTime, new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
			<div class="col-md-6 col-sm-6 col-xs-12">
				@Html.TextBoxFor(model => model.TransDateTime, new { @class = "form-control", id = "datepicker" })
				@Html.ValidationMessageFor(model => model.TransDateTime, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="row TransNumber" style="padding-bottom: 5px">
			@Html.LabelFor(model => model.TransNumber, new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
			<div class="col-md-6 col-sm-6 col-xs-12">
				@Html.TextBoxFor(model => model.TransNumber, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.TransNumber, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="row " style="padding-bottom: 5px">
			@Html.LabelFor(model => model.RevisitDatetime, new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
			<div class="col-md-6 col-sm-6 col-xs-12">
				@Html.TextBoxFor(model => model.RevisitDatetime, new { @class = "form-control", id = "datepicker" })
				@Html.ValidationMessageFor(model => model.RevisitDatetime, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="ln_solid"></div>
		<div class="form-group">
			<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
				<button class="btn btn-primary" type="button">Cancel</button>
				<button class="btn btn-primary" type="reset">Reset</button>
				<button type="submit" class="btn btn-success">Submit</button>
			</div>
		</div>
	</div>
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
