@model TogoFogo.Models.RepairStatusModel
@{
	Layout = null;
}

<div class="row">
	<div class="col-md-6">

		<div class="row" style="padding-bottom: 5px;">
			@Html.LabelFor(model => model.EmployeeName, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
			<div class="col-md-6 col-sm-6 col-xs-12">
				@Html.TextBoxFor(model => model.EmployeeName, htmlAttributes: new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.EmployeeName, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="row" style="padding-bottom: 5px;">
			@Html.LabelFor(model => model.EmpMobileNo, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
			<div class="col-md-6 col-sm-6 col-xs-12">
				@Html.TextBoxFor(model => model.EmpMobileNo, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.EmpMobileNo, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="row" style="padding-bottom: 5px;">
			@Html.LabelFor(model => model.BikeModel, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
			<div class="col-md-6 col-sm-6 col-xs-12">
				@Html.TextBoxFor(model => model.BikeModel, htmlAttributes: new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.BikeModel, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="row" style="padding-bottom: 5px;">
			@Html.LabelFor(model => model.BikeNumber, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
			<div class="col-md-6 col-sm-6 col-xs-12">
				@Html.TextBoxFor(model => model.BikeNumber, htmlAttributes: new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.BikeNumber, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="row" style="padding-bottom: 5px;">
			@Html.LabelFor(model => model.CashInHand, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
			<div class="col-md-6 col-sm-6 col-xs-12">
				@Html.TextBoxFor(model => model.CashInHand, htmlAttributes: new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.CashInHand, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="row" style="padding-bottom: 5px;">
			@Html.LabelFor(model => model.CashCollect, htmlAttributes: new { @class = "col-md-3 col-md-offset-1 col-xs-12" })
			<div class="col-md-6 col-sm-6 col-xs-12">
				@Html.TextBoxFor(model => model.CashCollect, htmlAttributes: new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.CashCollect, "", new { @class = "text-danger" })
			</div>
		</div>
	</div>
	@if (Model.EngineerPhoto != null)
	{
		<div class="col-md-6">
			<img src="http://crm.togofogo.com/Uploaded Images/@Model.EngineerPhoto" width="200"height="200" />
		</div>
	}
	else
	{
		<div class="col-md-6">
			<img src="" />
		</div>
	}



</div>



