
@model TogoFogo.Models.ServiceChargeModel
@{
    Layout = null;
}
@using (Html.BeginForm("AddServiceCharge", "DeviceServiceCharge", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="row">
        <div class="col-md-6">

            <div class="row" style="padding-bottom: 5px;">
                @Html.LabelFor(model => model.CategoryId, htmlAttributes: new { @class = "col-md-4  col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.DropDownListFor(model => model.CategoryId, Model.DeviceCategoryList, new { @class = "form-control", onchange = "AjaxWithValue('BindSubCategoryJson', 'DeviceSub', this)" })
                    @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px;">
                @Html.LabelFor(model => model.SubCatId, htmlAttributes: new { @class = "col-md-4 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.DropDownListFor(model => model.SubCatId, Model.DeviceSubCategoryList, new { @class = "form-control" ,id="DeviceSub"})
                    @Html.ValidationMessageFor(model => model.SubCatId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px;">
                @Html.LabelFor(model => model.BrandId, htmlAttributes: new { @class = "col-md-4  col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.DropDownListFor(model => model.BrandId, Model.BrandList, new { @class = "form-control", onchange = "AjaxWithValue('BindModelNameJson', 'ModelName', this)" })
                    @Html.ValidationMessageFor(model => model.BrandId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px;">
                @Html.LabelFor(model => model.ModalNameId, htmlAttributes: new { @class = "col-md-4  col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.DropDownListFor(model => model.ModalNameId, Model.ModelNameList, new { @class = "form-control",id="ModelName" })
                    @Html.ValidationMessageFor(model => model.ModalNameId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px;">
                @Html.LabelFor(model => model.HSNCode, htmlAttributes: new { @class = "col-md-4  col-xs-12", })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.HSNCode, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.HSNCode, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px;">
                @Html.LabelFor(model => model.SAC, htmlAttributes: new { @class = "col-md-4  col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.SAC, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SAC, "", new { @class = "text-danger" })
                </div>
            </div>
           

        </div>
        <div class="col-md-6">
            <div class="row" style="padding-bottom: 5px;">
                @Html.LabelFor(model => model.TRUPC, htmlAttributes: new { @class = "col-md-4  col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.TRUPC, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TRUPC, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px;">
                @Html.LabelFor(model => model.Form, htmlAttributes: new { @class = "col-md-4  col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.Form, null, new { @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.Form, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px;">
                @Html.LabelFor(model => model.MRP, htmlAttributes: new { @class = "col-md-4  col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.MRP, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MRP, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px;">
                @Html.LabelFor(model => model.MarketPrice, htmlAttributes: new { @class = "col-md-4  col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.MarketPrice, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MarketPrice, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row" style="padding-bottom: 5px;">
                @Html.LabelFor(model => model.ServiceCharge, htmlAttributes: new { @class = "col-md-4  col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(model => model.ServiceCharge, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ServiceCharge, "", new { @class = "text-danger" })
                </div>
            </div>

            @* <div class="row" style="padding-bottom: 5px;">
            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "col-md-4  col-xs-12" })
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.DropDownListFor(model => model.IsActive, new List<SelectListItem>
            {
                new SelectListItem {Text = "Yes", Value = "Yes"},
                new SelectListItem {Text = "No", Value = "No"}

            }, "Select", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
            </div>
        </div>*@
            <div class="row" style="padding-bottom: 5px;">
                @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "col-md-4  col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.CheckBoxFor(model => model.IsActive, new { @checked = "checked" })

                </div>
            </div>
        </div>


    </div>
    <div class="row ">
        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                @*<button class="btn btn-primary" type="button">Cancel</button>*@
                <button class="btn btn-primary" type="reset">Reset</button>
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
    </div>

}